.pres_lesson__note {
  position: absolute;
  top: 90%;
  // margin-left: calc(var(--pres__text_margin) * 1);
  // margin-right: calc(var(--pres__text_margin) * 1);
  // width: calc(100% - 4 * var(--pres__text_margin));
  font-size: 0.7em;
  color: color('diagram', 'text-base');
  margin-left: var(--pres__text_margin);
  margin-right: var(--pres__text_margin);
}

.pres_lesson__hint_label,
.pres_lesson__note__label {
  display: inline-block;
  color: color('grey', 'light');
  margin-right: 0.6em;
}

.pres_lesson__hint_label {
  color: color('green', 'base');
}

.pres_lesson__note__content {
  display: inline-block;
}

.pres_lesson__hint__content {
  display: inline-block;
}

.pres_lesson__hint__content__hidden {
  display: none;
}

// .pres_lesson__note p:first-child {
//   margin-top: 0;
// }

// .pres_lesson__note__label {
//   color: color('grey', 'base');
// }

// .press_lesson__note__hint {
//   display: inline-block;
//   visibility: hidden;
// }
