@import '../../../../css/style';

// .btn-multi-page-lesson {
//   width: 80px;
//   height: 40px;
//   border-style: none;
// }

// #button-next {
//   float: right;
// }

// #multipage_lesson {
//   position: absolute;
//   left: 0;
//   top: 0;
// }
