@import '../../../geometry';

$colors: (
  // lines:             map-get($geometry_colors, lines),
  // angles:            color('diagram', 'construction8'),
  lines:              color('blue'),
  angles:             color('green'),
  arc:                color('red'),
  marks:              color('grey', 'dark'),
  radianLines:        color('yellow'),
  // arrow:              color('red'),
);

body {
  @include color_vars($colors);
}

.diagram__text {
  z-index: 0;
}

// .in_lesson__fraction_table {
//   text-align: center;
//   color: color('diagram', 'text-base');
//   font-size: calc(var(--lesson__diagram-font-size) * 0.8);
//   table-layout: fixed;
//   width: calc(var(--lesson__diagram-font-size) * 8);
//   margin-left: calc(var(--lesson__diagram-font-size) * 1);
//   margin-top: calc(var(--lesson__diagram-font-size) * 3.5);
// }

.radian_equation {
  color: map-get($colors, 'radianLines');
  display: table !important;
}

.lesson__common_angles_table {
  font-size: calc(var(--lesson__diagram-font-size) * 0.55);
  width: 45%;
  table-layout: fixed;
  color: color('diagram', 'text-base');
  margin-top: 5%;
  margin-left: 5%;
}

.lesson__common_angles_table td {
  height: calc(var(--lesson__diagram-font-size) * 2);
}

.lesson__common_angles_table td:first-child {
  width: 55%;
}

.lesson__common_angles_table td:nth-child(2) {
  text-align: center;
}

.lesson__common_angles_table td:nth-child(3) {
  text-align: center;
  width: 17%;
}

.lesson__common_angles_table td:last-child {
  padding-left: 0;
  margin-left: 0;
}

.lesson__common_angles_table tr td:first-child {
  font-size: calc(var(--lesson__diagram-font-size) * 0.7);
}

.lesson__common_angles_table tr:first-child td {
  height: calc(var(--lesson__diagram-font-size) * 0.3);
  padding: 0;
  margin: 0;
}