@import '../../../css/style';

.about__container {
  width: 100%;
}

.about__title_top {
  height: 300px;
  font-family: $fontfamily-heading;
  font-size: 20px;
  display: table;
  width: 100%;
}

.about__tiles {
  // display: table;
  // table-layout: fixed;
  width: 100%;
  padding: 1.5em;
  text-align: center;
}

.about__title_text {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 100%;
}

.about__tiles_text {
  display: inline-block;
  width: 40%;
  height: calc(320px + 1em);
}

.about__tiles_text_container {
  display: table-cell;
  vertical-align: middle;
  // width: 100%;
  height: 100%;
  width: 50%;
  text-align: center;
}

.about__tiles_text_table {
  display: table;
  width: 100%;
  height: 100%;
}

.about__tiles_text_title {
  font-size: 1.5em;
}

.about__tiles_text_text {
  font-size: 1.1em;
}

.about__tiles_tiles {
  display: inline-block;
  height: 400px;
  // width: 50%;
  padding: 1.5em;
}

.about__tiles_group {
  display: block;
}

.about__tiles_tile_col {
  display: inline-block;
  padding: 0.2em;
}

.about__tiles_tile_cell {
  display: table-cell;
  width: 160px;
  height: 160px;
  background-color: color('blue', 'dark');
  background-position-x: center;
  background-repeat: no-repeat;
  background-position-y: 30%;
  color: white;
  text-align: center;
  vertical-align: bottom;
  padding-bottom: 10px;
}

#about__tile_precise {
  background-image: url(/static/assets/about/precise.png);
}

#about__tile_intuitive {
  background-image: url(/static/assets/about/intuitive.png);
}

#about__tile_detailed {
  background-image: url(/static/assets/about/detailed.png);
}

#about__tile_interactive {
  background-image: url(/static/assets/about/interactive.png);
}

#about__tile_practice {
  background-image: url(/static/assets/about/practice.png);
}

#about__tile_examples {
  background-image: url(/static/assets/about/examples.png);
}

#about__tile_explanation {
  background-image: url(/static/assets/about/explanation.png);
}

#about__tile_discovery {
  background-image: url(/static/assets/about/discovery.png);
}