@import '../../../geometry';

$colors: (
  qrLines:               color('blue'),
  qrDistance:            color('yellow'),
  qrAngles:              color('yellow'),
);

body {
  @include color_vars($colors);
}
