@import '../../../css/style';
@import '../home/banner.scss';

input,
select,
label {
  display: block;
  width: 250px;
}

label {
  text-align: left;
}

input {
  border-radius: 5px;
  height: 2em;
  border: 1px solid lightgray;
}

body {
  background-color: lightgray;
}

.login_form p {
  margin-bottom: 1px;
}

.login_spacer {
  height: 30px;
}

.home__banner_logo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  // -webkit-box-shadow: none;
  // -moz-box-shadow: none;
  // box-shadow: none;
}

.home__banner_logo_text {
  font-size: 20px;
}

.login_title {
  margin-top: 15px;
  margin-bottom: 25px;
  font-size: 1.2em;
}

.login_form {
  text-align: center;
  height: 100vh;
  width: 100vw;
  // width: 250px;
  // display: table;
}

.login_centering_cell {
  // display: table-cell;
  // vertical-align: middle;
  text-align: center;
  min-width: 300px;
}

.login_submit {
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px;
  margin-bottom: 40px;
  background-color: color('site', 'safe');
  color: white;
  font-size: 0.9em;
  border: 0;
  // height: 1.2em;
}

.login_submit:hover {
  background-color: color('site', 'safe', 'light');
}

.login_label_text {
  font-size: 0.8em;
  color: grey;
}

.login_button {
  font-size: 0.7em;
  width: 125px;
}

.login_signin_box {
  position: relative;
  padding: 1px;
}

.login_failed {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 0.7em;
  color: color('site', 'warning', 'light');
}

.login_button_create {
  margin-right: 50px;
}
