@import '../../../../../../css/color';

$colors: (
  qrAreaCircle_sides:             color('blue', 'base'),
  qrAreaCircle_radius:            color('diagram', 'construction7'),
);

#topic__content {
  @include color_vars($colors);
}
