__pycache__
./Dockerfile
.webassets-cache/
build_flask_gen/
app/app/static/build
app/app/static/dist
node_modules/
reports
src/figureone
.pytest_cache/
env/
temp/
temp_docker_file
.vscode/
thisiget.code-workspace
.DS_Store
