@import '../common/style';

// $colors: (
//   line:             darken(map-get($geometry_colors, lines), 30),
//   intersectingLine: lighten(map-get($geometry_colors, lines), 0),
// );

// body {
//   @include color_vars($colors);
// }
