@import '../../geometry';

$colors: (
  latin:            color('diagram', 'text-latin'),
  line:             map-get($geometry_colors, lines),
  angleA:           map-get($geometry_colors, angleA),
  angleB:           map-get($geometry_colors, angleB),
  angleC:           map-get($geometry_colors, angleC),
);

body {
  @include color_vars($colors);
}

.diagram__text {
  z-index: 1;
}

// #id_lesson__related_angles_definition {
//   top: 92%;
//   left: 7%;
// }

// .lesson__related_angles__angleA {
//   color: map-get($colors, angleA);
// }

// .lesson__related_angles__angleB {
//   color: map-get($colors, angleB);
// }

// .lesson__related_angles__angleC {
//   color: map-get($colors, angleC);
// }

// .lesson__related_angles__angleD {
//   color: map-get($colors, angleD);
// }
