@import '../../../css/style';

$about-image-xs: $flower-sm-image;
$about-image-sm: $flower-sm-image;

$about-image-md: $flower-md-image;

$about-image-lg: $flower-lg-image;
$about-image-xl: $flower-lg-image;

.views-about {
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: $mobile) {
  .views-about {
    background-image: $about-image-xs;
  }
}

@media screen and (min-width: $small-tablet) {
  .views-about {
    background-image: $about-image-sm;
  }
}

@media screen and (min-width: $tablet) {
  .views-about {
    background-image: $about-image-md;
  }
}

@media screen and (min-width: $desktop) {
  .views-about {
    background-image: $about-image-lg;
  }
}

@media screen and (min-width: $large-desktop) {
  .views-about {
    background-image: $about-image-xl;
  }
}
