@import '../../../../../../css/color';

$colors: (
  qrRightAngleTriangle_sides:                       color('blue'),
  qrRightAngleTriangle_rightAngle:                  color('red'),
  qrRightAngleTriangle_angles:                      color('green'),
);

#topic__content {
  @include color_vars($colors);
}
