@import '../../../../../../css/color';

$colors: (
  qrIsoscelesSides:             color('blue'),
  qrIsoscelesAngles:            color('red'),
  qrIsoscelesDisabled:          color('diagram', 'disabled', 'darker'),
);

#topic__content {
  @include color_vars($colors);
}
