@import '../../../../../../css/color';

$colors: (
  sides:             color('blue'),
  angles:            color('red'),
  disabled:          color('diagram', 'disabled', 'darker'),
);

#topic__content {
  @include color_vars($colors);
}
