@import '../../../../../../css/color';

$colors: (
  qrArea_sides:             color('blue'),
  // qrArea_sidesDisabled:     color('blue', darker),
  qrArea_angles:            color('red'),
  // qrArea_row:               color('red'),
  qrArea_highlight:         color('red'),
  // qrArea_example1:          color('red'),
  // qrArea_example2:          color('blue'),
  // qrArea_disabled:          color('diagram', 'disabled'),
  qrArea_grid:              color('grey', 'darker'),
  qrArea_gridLight:         color('grey', 'base'),
  qrArea_measure:           color('grey', 'base'),
);

body {
  @include color_vars($colors);
}
