@import '../../../geometry';

$colors: (
  sides:             color('blue'),
  example1:          color('red'),
  example2:          color('blue'),
  disabled:          color('diagram', 'disabled'),
);

body {
  @include color_vars($colors);
}

.diagram__text {
  z-index: 0;
}
