@import '../../../geometry';

$colors: (
  sides:             color('blue'),
  angles:            color('red'),
  example1:          color('red'),
  example2:          color('blue'),
  disabled:          color('diagram', 'disabled'),
  grid:              color('grey', 'base'),
);

body {
  @include color_vars($colors);
}

.diagram__text {
  z-index: 0;
}
