
.topic__np_button {
  position: absolute;
  border-style: none;
  border: 0;
  padding: 0;
  background-color: color('presentation', 'background');
  // background-color: color('presentation', 'background');
  top: calc(100% - var(--pres__nav_button_height));
  width: 0;
  height: 0;
  border-top: calc(var(--pres__nav_button_height) / 2) solid transparent;
  border-bottom: calc(var(--pres__nav_button_height) / 2) solid transparent;
}

.topic__np_button_fill {
  border-top: calc(var(--pres__nav_button_height) / 2 - 2px) solid transparent;
  border-bottom: calc(var(--pres__nav_button_height) / 2 - 2px) solid transparent;
  position: absolute;
  left: calc(-1 * var(--pres__nav_button_width) + 1px);
  top: calc(-1 * var(--pres__nav_button_height) / 2 + 2px);
}

#topic__button-previous {
  left: 0;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                      supported by Chrome and Opera */
}

#topic__button-previous .topic__np_button_fill {
  left: 1px;
}

#topic__button-next {
  right: 0;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                      supported by Chrome and Opera */
}

@media (min-aspect-ratio: $landscape_aspect_ratio) {
  #topic__button-previous {
    margin-left: var(--pres__hpadding);
    margin-right: var(--pres__hspace);
  }

  #topic__button-next {
    margin-left: var(--pres__hspace);
    margin-right: var(--pres__hpadding);
  }

  .topic__np_button {
    position: relative;
    top: calc(var(--pres__content_height) / 2 - var(--pres__nav_button_height) / 2);
    // top: 0;
    display: inline-block;
    vertical-align: top;
    border-top: calc(var(--pres__nav_button_height) / 2) solid transparent;
    border-bottom: calc(var(--pres__nav_button_height) / 2) solid transparent;
  }
}

.topic__button-next-enabled {
  border-left: var(--pres__nav_button_width) solid var(--color-button-negative-border);
}

.topic__button-next-enabled:hover {
  border-left: var(--pres__nav_button_width) solid var(--color-button-negative-hover-border);
}

.topic__button-next-enabled .topic__np_button_fill {
  border-left: calc(var(--pres__nav_button_width) - 2px) solid var(--color-button-negative-background);
}

.topic__button-next-enabled .topic__np_button_fill:hover {
  border-left: calc(var(--pres__nav_button_width) - 2px) solid var(--color-button-negative-hover-background);
}

.topic__button-next-disabled {
  border-left: var(--pres__nav_button_width) solid var(--color-button-disabled-border);
  pointer-events: none;
}

.topic__button-next-disabled:hover {
  border-left: var(--pres__nav_button_width) solid var(--color-button-disabled-border);
}

.topic__button-next-disabled .topic__np_button_fill {
  border-left: calc(var(--pres__nav_button_width) - 2px) solid var(--color-button-disabled-background);
}

.topic__button-next-disabled .topic__np_button_fill:hover {
  border-left: calc(var(--pres__nav_button_width) - 2px) solid var(--color-button-disabled-background);
}

.topic__button-prev-enabled {
  border-right: var(--pres__nav_button_width) solid var(--color-button-negative-border);
}

.topic__button-prev-enabled:hover {
  border-right: var(--pres__nav_button_width) solid var(--color-button-negative-hover-border);
}

.topic__button-prev-enabled .topic__np_button_fill {
  border-right: calc(var(--pres__nav_button_width) - 2px) solid var(--color-button-negative-background);
}

.topic__button-prev-enabled .topic__np_button_fill:hover {
  border-right: calc(var(--pres__nav_button_width) - 2px) solid var(--color-button-negative-hover-background);
}

.topic__button-prev-disabled {
  border-right: var(--pres__nav_button_width) solid var(--color-button-disabled-border);
  pointer-events: none;
}

.topic__button-prev-disabled:hover {
  border-right: var(--pres__nav_button_width) solid var(--color-button-disabled-border);
}

.topic__button-prev-disabled .topic__np_button_fill {
  border-right: calc(var(--pres__nav_button_width) - 2px) solid var(--color-button-disabled-background);
}

.topic__button-prev-disabled .topic__np_button_fill:hover {
  border-right: calc(var(--pres__nav_button_width) - 2px) solid var(--color-button-disabled-background);
}
