.presentation__note {
  position: absolute;
  top: 90%;
  // margin-left: calc(var(--pres__text_margin) * 1);
  // margin-right: calc(var(--pres__text_margin) * 1);
  // width: calc(100% - 4 * var(--pres__text_margin));
  font-size: 0.7em;
  color: var(--color-diagram-text);
  margin-left: var(--pres__text_margin);
  margin-right: var(--pres__text_margin);
}

.presentation__hint_label,
.presentation__note__label {
  display: inline-block;
  color: var(--color-diagram-text-note);
  margin-right: 0.6em;
}

.presentation__hint_label {
  color: var(--color-diagram-text-hint);
}

.presentation__note__content {
  display: inline-block;
}

.presentation__hint__content {
  display: inline-block;
}

.presentation__hint__content__hidden {
  display: none;
}

// .presentation__note p:first-child {
//   margin-top: 0;
// }

// .presentation__note__label {
// }

// .press_topic__note__hint {
//   display: inline-block;
//   visibility: hidden;
// }
