@import '../../../../../../css/color';

$colors: (
  qrDegrees_lines:              color('blue'),
  qrDegrees_angles:             color('green'),
  qrDegrees_arc:                color('red'),
  qrDegrees_marks:              color('grey', 'dark'),
);

#topic__content {
  @include color_vars($colors);
}
