// .figureone__text {
//   z-index: 0;
// }

#math_trigonmetry_1_sine_base_tabelofsines table {
  table-layout: fixed;
  text-align: center;
}

#math_trigonmetry_1_sine_base_tabelofsines th {
  text-align: center;
  width: 7em;
  border-bottom: 1px solid var(--color-diagram-disabled);
}

#math_trigonmetry_1_sine_base_tabelofsines td {
  text-align: center;
  width: 7em;
}
