@import '../../../../../../css/color';

$colors: (
  qrAngleTypes_lines:             color('blue'),
  qrAngleTypes_angle:             color('green'),
  qrAngleTypes_fill:              color('green', 'darkest'),
);

// body {
//   @include color_vars($colors);
// }

#topic__content {
  @include color_vars($colors);
}

// #topic__content {
//   --colors-qrAngleTypes_lines: blue;
//   --colors-qrAngleTypes_lines: green;
//   --colors-qrAngleTypes_lines: green;
// }

// // body h1 {
// //   color: red;
// // }
