@import '../../../geometry';

$colors: (
  sides:                  color('blue'),
  angles:                 color('green'),
  isosceles:              color('red'),
  equalSide:              color('blue', darker),
  fill:                   color('blue', darkest),
  description:            color('grey', base),
);

body {
  @include color_vars($colors);
}

// .diagram__text {
//   z-index: 0;
// }

.lesson__eqn_nav__description {
  font-size: calc(var(--lesson__diagram-font-size) * 0.6);
  color: map-get($colors, 'description');
  text-align: left;
  width: 8em;
}
