@import '../../../geometry';

$colors: (
  sides:                  color('blue'),
  angles:                 color('green'),
  isosceles:              color('red'),
  equalSide:              color('blue', darker),
  fill:                   color('blue', darkest),
);

body {
  @include color_vars($colors);
}

// .diagram__text {
//   z-index: 0;
// }
