@import '../../../../../../css/color';

$colors: (
  qrImportantAngles_lines:             color('blue'),
  qrImportantAngles_angle:             color('green'),
  qrImportantAngles_fill:              color('green', 'darkest'),
);

body {
  @include color_vars($colors);
}
