@import '../../../geometry';

$colors: (
  lines:              color('blue'),
  angle1:             color('red'),
  angle2:             color('green'),
  angle3:             color('yellow'),
  angle4:             color('cyan'),
  disabled:           color('grey', 'darker'),
  intersectingLine:   color('blue', 'lighter'),
);

body {
  @include color_vars($colors);
}

.diagram__text {
  z-index: 0;
}
