@import '../../../geometry';

$colors: (
  graph:                color('grey', 'light'),
  spring:           color('yellow', 'darker'),
  winter:           color('green', 'darker'),
  autumn:           color('violet'),
  summer:           color('blue', 'light'),
  text:             color('white'),
  // lines:             map-get($geometry_colors, lines),
  // angles:            color('diagram', 'construction8'),
);

body {
  @include color_vars($colors);
}

.diagram__text {
  z-index: 1;
}
