@import '../../../../../../css/color';

$colors: (
  sides:             color('blue'),
  sidesDisabled:     color('blue', darker),
  angles:            color('red'),
  row:               color('red'),
  highlight:         color('red'),
  example1:          color('red'),
  example2:          color('blue'),
  disabled:          color('diagram', 'disabled'),
  grid:              color('grey', 'darker'),
  gridLight:         color('grey', 'base'),
  measure:           color('grey', 'base'),
);

body {
  @include color_vars($colors);
}
