#id_diagram__text__low {
  z-index: 1;
}

.figureone__eqn_nav__description {
  font-size: calc(var(--topic__diagram-font-size) * 0.55);
  color: #727F8C;
  color: var(--color-rightangletriangles-description);
  text-align: left;
  width: 30em;
}
