.diagram__text {
  z-index: 1;
}

.area__label {
  font-size: calc(var(--topic__diagram-font-size) * 0.7);
  color: #1CA4FC;
}

.figureone__eqn_nav__description {
  // font-size: calc(var(--topic__diagram-font-size) * 0.55);
  color: var(--color-diagram-text);
  // text-align: left;
  // width: 30em;
}
