.diagram__text {
  z-index: 0;
}

.in_topic__fraction_table {
  text-align: center;
  table-layout: fixed;
  width: calc(var(--topic__diagram-font-size) * 10);
  margin-left: calc(var(--topic__diagram-font-size) * 1);
  border-spacing: 0;
  color: #fdf1aa;
  color: var(--color-diagram-text);
  border-radius: 0.5em;
  font-size: 0.7em;
  position: absolute;
  top: 25%;
  left: 7%;
  font-weight: 100;
}

.in_topic__fraction_table tr:first-child {
  text-align: center;
  color: var(--color-degrees-heading);
  height: 2.5em;
  font-size: 1em;
}

.topic__fraction {
  font-size: 1.5em;
}

.topic__common_angles_table td:nth-child(2) {
  font-size: 0.7em;
}

.topic__fraction_title {
  border-top-left-radius: 0.5em;
}

.topic__angle_title {
  border-top-right-radius: 0.5em;
}
