@import '../../../../../../css/color';

$colors: (
  qrIntersectionAngles_lines:              color('blue'),
  qrIntersectionAngles_angle1:             color('red'),
  qrIntersectionAngles_angle2:             color('green'),
  qrIntersectionAngles_angle3:             color('yellow'),
  qrIntersectionAngles_angle4:             color('cyan'),
  qrIntersectionAngles_intersectingLine:   color('blue', 'lighter'),
);

body {
  @include color_vars($colors);
}

// .diagram__text {
//   z-index: 0;
// }
