@import '../../../geometry';

$colors: (
  sides:                  color('blue'),
  angles:                 color('green'),
  isosceles:              color('red'),
  equalSide:              color('blue', darker),
  fill:                   color('blue', darkest),
  description:            color('grey', base),
);

body {
  @include color_vars($colors);
}

// .figureone__eqn_nav__description {
//   font-size: calc(var(--lesson__diagram-font-size) * 0.55);
//   color: map-get($colors, 'description');
//   text-align: left;
//   width: 15em;
// }

#id_diagram__text__low {
  z-index: 1;
}

.figureone__eqn_nav__description {
  font-size: calc(var(--lesson__diagram-font-size) * 0.55);
  color: map-get($colors, 'description');
  text-align: left;
  width: 15em;
}
