// .figureone__eqn_nav__description {
//   font-size: calc(var(--topic__diagram-font-size) * 0.55);
//   color: map-get($colors, 'description');
//   text-align: left;
//   width: 15em;
// }

#id_diagram__text__low {
  z-index: 1;
}

.figureone__eqn_nav__description {
  font-size: calc(var(--topic__diagram-font-size) * 0.55);
  color: #929292;
  color: var(--color-side-angle-relationship-description);
  text-align: left;
  width: 15em;
}
