@import '../../../geometry';

$colors: (
  lines:              color('blue'),
  angles:             color('green'),
  moreSharp:          color('red'),
  lessSharp:          color('violet'),
  center:             color('yellow'),
  arrow:              color('red'),
);

body {
  @include color_vars($colors);
}

.content_angles_bottom {
  margin-top: 35%;
}
