@import '../../../geometry';

$colors: (
  lines:              color('blue'),
  notParallel:        color('grey', 'dark'),
  // lines:             map-get($geometry_colors, lines),
  // angles:            color('diagram', 'construction8'),
);

body {
  @include color_vars($colors);
}

.diagram__text {
  z-index: 0;
}
