$flower-sm-image: url(/static/flower-sm.jpg);
$flower-md-image: url(/static/flower-md.jpg);
$flower-lg-image: url(/static/flower-lg.jpg);
$flower2-sm-image: url(/static/flower2-sm.jpg);
$flower2-md-image: url(/static/flower2-md.jpg);
$flower2-lg-image: url(/static/flower2-lg.jpg);
$fence-sm-image: url(/static/fence1-sm.jpg);
$fence-md-image: url(/static/fence1-md.jpg);
$fence-lg-image: url(/static/fence1-lg.jpg);
$bark-sm-image: url(/static/bark-sm.jpg);
$bark-md-image: url(/static/bark-md.jpg);
$bark-lg-image: url(/static/bark-lg.jpg);
$wheel-image: url(/static/wheel.png);
$bark-blurred-sm: url(/static/bark_blurred-sm.jpg);
$bark-blurred-lg: url(/static/bark_blurred-lg.jpg);
$navbardark: url(/static/navbardark.png);
$iconlg: url(/static/icon-lg.png);
