$flower-sm-image: url(/static/flower-sm.jpg);
$flower-md-image: url(/static/flower-md.jpg);
$flower-lg-image: url(/static/flower-lg.jpg);
$flower2-sm-image: url(/static/flower2-sm.jpg);
$flower2-md-image: url(/static/flower2-md.jpg);
$flower2-lg-image: url(/static/flower2-lg.jpg);
$fence-sm-image: url(/static/fence1-sm.jpg);
$fence-md-image: url(/static/fence1-md.jpg);
$fence-lg-image: url(/static/fence1-lg.jpg);
$bark-sm-image: url(/static/bark-sm.jpg);
$bark-md-image: url(/static/bark-md.jpg);
$bark-lg-image: url(/static/bark-lg.jpg);
$wheel-image: url(/static/wheel.png);
$bark-blurred-sm: url(/static/bark_blurred-sm.jpg);
$bark-blurred-lg: url(/static/bark_blurred-lg.jpg);
$navbardark: url(/static/navbardark.png);
$iconlg: url(/static/icon-lg.png);
$main-logo: url(/static/logo10.svg);
$star-full: url(/static/star-full.svg);
$star-empty: url(/static/star-empty-666666.svg);
// $star-empty-999999: url(/static/star-empty-999999.png);
// $star-empty-777777: url(/static/star-empty-777777.png);
$star-999999: url(/static/star-999999.png);
$star-c4c4c4: url(/static/star-c4c4c4.png);
$lesson-presentation: url(/static/lesson_presentation_666666.svg);
$lesson-singlePage: url(/static/lesson_singlepage_666666.svg);
$lesson-generic: url(/static/lesson_generic.png);
$lesson-video: url(/static/lesson_video_666666.svg);
$lesson-presentation-active: url(/static/lesson_presentation_ffffff.svg);
$lesson-singlePage-active: url(/static/lesson_singlepage_ffffff.svg);
$lesson-generic-active: url(/static/lesson_generic_active.png);
$lesson-video-active: url(/static/lesson_video_ffffff.svg);
