$bark-blurred-sm: url(/static/assets/bark_blurred-sm.jpg);
$bark-blurred-lg: url(/static/assets/bark_blurred-lg.jpg);
$navbardark: url(/static/assets/navbardark.png);
$iconlg: url(/static/assets/icon-lg.png);
$main-logo: url(/static/assets/logo8.svg);
$star-full: url(/static/assets/star-full.svg);
$star-empty: url(/static/assets/star-empty-666666.svg);
$star-dark: url(/static/assets/star-666666.png);
$star-c4c4c4: url(/static/assets/star-c4c4c4.png);
$lesson-presentation: url(/static/assets/lesson/lesson_presentation_666666.svg);
$lesson-singlePage: url(/static/assets/lesson/lesson_singlePage_666666.svg);
$lesson-video: url(/static/assets/lesson/lesson_video_666666.svg);
$lesson-presentation-active: url(/static/assets/lesson/lesson_presentation_ffffff.svg);
$lesson-singlePage-active: url(/static/assets/lesson/lesson_singlePage_ffffff.svg);
$lesson-video-active: url(/static/assets/lesson/lesson_video_ffffff.svg);
