@import '../../../geometry';

$colors: (
  lines:              color('blue'),
  angle:             color('green'),
  axes:              color('grey', 'dark'),
  fill:              color('green', 'darkest'),
  marks:             color('grey', 'darker'),
);

body {
  @include color_vars($colors);
}

.diagram__text {
  z-index: 0;
}

.lesson__important_angles_table {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3%;
  // color: map-get($colors, 'angle');
}

.lesson__important_angles_table__not_selected {
  color: map-get($colors, 'axes');
}

.lesson__important_angles_table__selected {
  color: map-get($colors, 'angle');
}

.lesson__important_angles__text {
  // position: absolute;
  // top: 0;
  // left: 0;
  width: 100%;
  height: 85%;
}

.lesson__important_angles__text_hide {
  overflow: hidden;
  height: 0;
}
