@import '../../../geometry';

$colors: (
  qrParallelLineDistance_lines:               color('blue'),
  qrParallelLineDistance_distance:            color('yellow'),
  qrParallelLineDistance_angles:              color('yellow'),
);

body {
  @include color_vars($colors);
}
