{% extends "base.html" %}
{% block title %}This I Get - Account Settings{% endblock %}
{% block head %}
  <link rel="stylesheet" type="text/css" href={{ account_css }}>
{% endblock %}
{% block content %}
    <div id="id_navbar"></div>
    <div id="account">
        <h1>Account Settings 1</h1>
    </div>
    <div id="id_footer"></div>
{% endblock %}
{% block tail %}
  <script type="text/javascript" src={{ account_js }}></script>
{% endblock %}

<!-- 
{% block formTitle %}
    Account Settings
{% endblock %}

{% block formfields %}
    <div class="input_form__field">
        <div class="input_form__field_label">
            {{ form.username.label }}
        </div>
        {{ form.username(
            size=32,
            class_="input_form__field_entry",
            autocomplete="username") }}
        {% for error in form.username.errors %}
            <span class="input_form__field_error_message">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="input_form__field">
        <div class="input_form__field_label">
            {{ form.email.label }}
        </div>
        {{ form.email(size=64, class_="input_form__field_entry") }}
        {% for error in form.email.errors %}
            <span class="input_form__field_error_message">{{ error }}</span>
        {% endfor %}
    </div>
    </div>
{% endblock %} -->
<!-- 
{% block afterSubmit %}
    <div class="input_form__submit_container">
        {{ form.reset_password(class_="input_form__submit_button") }}
    </div>
    <div class="input_form__spacer"></div>
    <div class="input_form__spacer"></div>
    <div class="input_form__submit_container">
        {{ form.delete_account(class_="input_form__submit_button") }}
    </div>
{% endblock %}
 -->
