<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    {% block head %}{% endblock %}

    <link rel="stylesheet" href="/static/vendors/bootstrap-reboot.min.css">

    {% block libraries %}{% endblock %}
    
    <!-- <script type="text/javascript" async src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML" async></script> -->
  </head>

<body>
  <!-- {% if current_user.is_authenticated %}
    <div id="logged_in" style="font-size:0">{{ current_user.name }}</div>
  {% endif %} -->
  {% block content %}{% endblock %}
  {% block vendors %}{% endblock %}

<script type="text/javascript" src="/static/dist/tools.js"></script>
<script type="text/javascript" src="/static/dist/commonlessons.js"></script>
{% block tail %}{% endblock %}
</body>
</html>