<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <title>This I Get</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    {% block head %}{% endblock %}

    <link rel="stylesheet" href="/static/vendors/bootstrap-reboot.min.css">

    {% block libraries %}{% endblock %}
    <script src="/static/index.js"></script>
  </head>

<body>
  <!-- {% if current_user.is_authenticated %}
    <div id="logged_in" style="font-size:0">{{ current_user.name }}</div>
  {% endif %} -->
  {% block content %}{% endblock %}
<script type="text/javascript" src="/static/dist/vendors.js"></script>
<script type="text/javascript" src="/static/dist/tools.js"></script>
<script type="text/javascript" src="/static/dist/commonlessons.js"></script>
{% block tail %}{% endblock %}
</body>
</html>