<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <script src="https://cdn.polyfill.io/v2/polyfill.js"></script> -->
    <script type="text/javascript" src={{ polyfill_js }}></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:100,600,400,400italic|Lato:400,300,100, 700">
    <link rel="stylesheet" href="/static/vendors/bootstrap-reboot.min.css">
    {% block head %}{% endblock %}

    
    {% block vendors %}{% endblock %}
    {% block libraries %}{% endblock %}

  </head>

<body>
  <!-- {% if current_user.is_authenticated %}
    <div id="logged_in" style="font-size:0">{{ current_user.name }}</div>
  {% endif %} -->
  {% block content %}{% endblock %}
<script type="text/javascript" src={{ topic_index_js }}></script>
<script type="text/javascript" src={{ tools_js }}></script>
<script type="text/javascript" src={{ common_content_js }}></script>
<!-- <script async src="https://platform.twitter.com/widgets.js" charSet="utf-8"></script> -->
{% block tail %}{% endblock %}
</body>
</html>