
{% extends "base.html" %}
{% block title %}This I Get - Account Settings{% endblock %}
{% block head %}
  <link rel="stylesheet" type="text/css" href={{ generic_css }}>
{% endblock %}
{% block content %}
    <div id="id_navbar"></div>
    <div id="message">
        <h1>Account Deleted</h1>
        <div class=input_form__information>
            <p>
                We hope to see you again soon!
            </p>
        </div>
    </div>
    <div id="id_footer"></div>
{% endblock %}
{% block tail %}
  <script type="text/javascript" src={{ generic_js }}></script>
{% endblock %}
