{% extends "inputBase.html" %}

{% block formTitle %}
    Create an Account
{% endblock %}

{% block formfields %}
    <div class="input_form__field">
        <div class="input_form__field_label">
            {{ form.username.label }}
        </div>
        {{ form.username(
            size=32,
            class_="input_form__field_entry",
            autocomplete="username") }}
        {% for error in form.username.errors %}
            <span class="input_form__field_error_message">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="input_form__field">
        <div class="input_form__field_label">
            {{ form.email.label }}
        </div>
        {{ form.email(size=64, class_="input_form__field_entry") }}
        {% for error in form.email.errors %}
            <span class="input_form__field_error_message">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="input_form__field">
        <div class="input_form__field_label">
            {{ form.password.label }}
        </div>
        {{ form.password(size=256, class_="input_form__field_entry", autocomplete="new-password") }}
        {% for error in form.password.errors %}
            <span class="input_form__field_error_message">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="input_form__field">
        <div class="input_form__field_label">
            {{ form.repeat_password.label }}
        </div>
        {{ form.repeat_password(
            size=256,
            class_="input_form__field_entry",
            autocomplete="new-password") }}
        {% for error in form.repeat_password.errors %}
            <span class="input_form__field_error_message">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="input_form__spacer"></div>
    <div class="input_form__info">
        To create an account, you must read and agree to This I Get's <a href="/terms">Terms of Use</a>, and <a href="/privacy">Privacy Policy</a>.
    </div>
    <div class="input_form__spacer"></div>
    <div class="input_form__field input_form__field__check">
        <div class="input_form__check">
            <div class="input_form__check_box">
                {{ form.terms() }}
            </div>
            <div class="input_form__field_label input_form__check_label">
                {{ form.terms.label }}
            </div>
        </div>
        {% for error in form.terms.errors %}
            <span class="input_form__field_error_message input_form__field_error_message__check">{{ error }}</span>
        {% endfor %}
    </div>
{% endblock %}
