<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta name="description" content="{% block description %}{% endblock %}"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:100,600,400,400italic|Lato:400,300,100, 700">
    <link rel="stylesheet" href="/static/vendors/bootstrap-reboot.min.css">
    <style type="text/css" media="screen">
      h1 {text-align:center;width:100%;font-size:1.3em;padding-top:2em;}
      p {text-align:center;width:100%;padding:1em;padding-bottom:0;margin:0;}
    </style>
  </head>

<body>
  {% block content %}{% endblock %}
</body>
</html>