{% extends "base.html" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href={{ css }}>
{% endblock %}
{% block content %}
    <div class="input_form">
        <div class="input_form__centering_cell">
            <div class="input_form__title__logo">
              <div class="input_form__title__logo_text_container">
                <div class="input_form__title__logo_text">
                  get it
                </div>
              </div>
            </div>
            <div class="input_form__title__text">
              {% block formTitle %}{% endblock %}
            </div>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                {% block formfields %}{% endblock %}
                
                <div class="input_form__submit_container">
                  {% with messages = get_flashed_messages(category_filter=["error"]) %}
                    {% if messages %}
                        {% for message in messages %}
                          <span class="input_form__submit_error_message">{{ message }}</span>
                        {% endfor %}
                    {% endif %}
                  {% endwith %}
                  {{ form.submit(class_="input_form__submit_button") }}
                  <div class="input_form__submit_ok_message_container">
                    {% with messages = get_flashed_messages(category_filter=["ok"]) %}
                      {% if messages %}
                        {% for message in messages %}
                          <span class="input_form__submit_ok_message_text">{{ message }}</span>
                        {% endfor %}
                      {% endif %}
                    {% endwith %}
                  </div>
                </div>
            </form>
        </div>
    </div>
  <div id="input_form__footer"></div>
{% endblock %}
{% block tail %}
  <script type="text/javascript" src={{ js }}></script>
{% endblock %}
