{% extends "inputBase.html" %}
{% block title %}
  This I Get Login
{% endblock %}

{% block formTitle %}
    Sign in to This I Get
{% endblock %}

{% block formfields %}
    <div class="input_form__field">
        <div class="input_form__field_label">
            {{ form.username_or_email.label }}
        </div>
        {{ form.username_or_email(size=64, class_="input_form__field_entry", autocomplete="username") }}
        {% for error in form.username_or_email.errors %}
            <span class="input_form__field_error_message">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="input_form__field">
        <div class="input_form__field_label">
            {{ form.password.label }}
        </div>
        {{ form.password(size=256, class_="input_form__field_entry", autocomplete="current-password") }}
        {% for error in form.password.errors %}
            <span class="input_form__field_error_message">{{ error }}</span>
        {% endfor %}
    </div>
{% endblock %}

{% block afterForm %}
    <div>
        <a href="/createAccount" class="input_form__link login_form__link_create">Create Accout</a>
        <a href="/resetPasswordRequest" class="input_form__link login_form__link_forgot">Forgot Password</a>
    </div>
{% endblock %}

