{% extends "inputBase.html" %}

{% block formTitle %}
    Reset Password
{% endblock %}

{% block formfields %}
    <div class="input_form__field">
        <div class="input_form__field_label">
            {{ form.password.label }}
        </div>
        {{ form.password(size=256, class_="input_form__field_entry", autocomplete="new-password") }}
        {% for error in form.password.errors %}
            <span class="input_form__field_error_message">{{ error }}</span>
        {% endfor %}
    </div>
    <div class="input_form__field">
        <div class="input_form__field_label">
            {{ form.repeat_password.label }}
        </div>
        {{ form.repeat_password(
            size=256,
            class_="input_form__field_entry",
            autocomplete="new-password") }}
        {% for error in form.repeat_password.errors %}
            <span class="input_form__field_error_message">{{ error }}</span>
        {% endfor %}
    </div>
{% endblock %}
