@import './information';

.about__credits_packages {
  text-align: center;
}

.about__credits_package_list {
  display: inline-block;
  vertical-align: top;
  min-width: 15em;
}

.about__credits_category_title {
  color: var(--color-site-title);
}

@media screen and (max-width: 50em) {
  .about__credits_package_list {
    display: block;
  }
}
