@import '../../../css/style';

.information_text_container {
  // padding: 1em;
  // margin-left: 1em;
  // margin-right: 1em;
  padding-left: 2em;
  padding-right: 2em;
  // padding-top: 1em;
  padding-bottom: 1em;
  color: var(--color-site-information);
  position: relative;
  max-width: 1100px;
}

@media screen and (min-width: 700px) {
  .information_text_container {
    margin-left: 1em;
    margin-right: 1em;
  }
}

@media screen and (min-width: 1100px) {
  .information_text_container {
    margin-left: auto;
    margin-right: auto;
  }
}

.home__banner_logo {
  width: 150px;
  height: 150px;
}

.home__banner_logo_text {
  font-size: 30px;
}

h1 {
  // margin-top: 2em;
  font-weight: 300;
  font-size: 2em;
  text-align: center;
  // margin-bottom: 1em;
  padding-top: 1em;
}

// h2 {
//   margin-top: 2em;
//   margin-bottom: 0.7em;
//   font-weight: 300;
//   font-size: 1.5em;
//   text-align: center;
//   padding: 1em;
//   width: calc(100% + 2.5em);
//   transform: translate(-1.25em, 0);
//   max-width: calc(1100px + 2.5em);
// }

h2 {
  margin-top: 2em;
  margin-bottom: 0.5em;
  font-weight: 300;
  padding-top: 0.3em;
  padding-bottom: 0;
  font-size: 1.8em;
  border-bottom: 1px solid #aaa;
  width: calc(100%);
  max-width: calc(1100px + 2.5em);
}

// @media screen and (max-width: 1100px) {
//   h2 {
//     // width: calc(100% + 3.4em);
//     // transform: translate(-1.7em, 0);
//   }
// }

// @media screen and (max-width: 700px) {
//   h2 {
//     // width: calc(100% + 3em);
//     // transform: translate(-1.5em, 0);
//   }
// }

h3 {
  margin-top: 1.5em;
  font-size: 1.2em;
  font-weight: 600;
}

h4 {
  margin-top: 0;
  // font-size: 1em;
  // font-weith: 
  margin-bottom: 1.5em;
  text-align: center;
}

// h2:first-of-type {
//   margin-top: 0.5em;
// }

// blockquote {
//   font-style: italic;
// }

.information_text_container blockquote {
  padding: 1em;
  // border: 1px solid color('white', 'light');
  // margin-left: 2em;
  // margin-right: 2em;
  background-color: var(--color-section-background);
  font-style: normal;
  font-size: 1em;
}

@media screen and (min-width: 700px) {
  .information_text_container blockquote {
    margin-left: 2em;
    margin-right: 2em;
  }
}

.information_text_container blockquote h3 {
  margin-top: 1em;
  font-weight: 100;
  font-size: 1.4em;
}

.information_text_container blockquote h3:first-of-type {
  margin-top: 0;
}

ol {
  counter-reset: list;
}

ol > li {
  list-style: none;
  position: relative;
}

ol > li::before {
  counter-increment: list;
  content: counter(list, lower-alpha) ") ";
  position: absolute;
  left: -1.4em;
}

ol li {
  margin-left: 0;
  padding-left: 1em;
}

@media screen and (max-width: 400px) {
  ol {
    padding: 1.4em;
  }

  ol li {
    padding-left: 0.2em;
  }

  ul {
    padding-left: 1.4em;
  }
}

.information_text_container blockquote li {
  margin-bottom: 0.7em;
}

.information_text_container img {
  max-width: 100%;
  margin-left: 50%;
  margin-top: 1em;
  margin-bottom: 1em;
  transform: translate(-50%);
  // box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.information__more {
  margin-bottom: 1em;
}

.information__more__label {
  display: block;
}

.information__more__description {
  display: block;
}

@media screen and (min-width: 700px) {
  .information__more__label {
    display: inline-block;
    width: 7em;
  }

  .information__more__description {
    display: inline-block;
    margin-left: 2em;
  }
}

.information__subtitle {
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  // padding-bottom: 1em;
  color: var(--color-site-text);
  margin-bottom: 2em;
}
