@import '../../../../../../css/color';

$colors: (
  qrRelatedAngles_lines:              color('blue'),
  qrRelatedAngles_angle1:             color('red'),
  qrRelatedAngles_angle2:             color('green'),
  qrRelatedAngles_angle3:             color('yellow'),
  qrRelatedAngles_angle4:             color('cyan'),
  qrRelatedAngles_intersectingLine:   color('blue', 'lighter'),
);

body {
  @include color_vars($colors);
}

// .diagram__text {
//   z-index: 0;
// }
