@import '../../geometry';

$colors: (
  lines:             map-get($geometry_colors, lines),
  //
  areaTri:           color('diagram', 'construction6', 'darkest'),
  areaTriLabel:      color('diagram', 'construction6'),
  areaPoly:          color('diagram', 'construction6', 'darkest'),
  areaPolyLabel:     color('diagram', 'construction6'),
  areaCircle:        color('diagram', 'construction6', 'darkest'),
  areaCircleLabel:   color('diagram', 'construction6'),
  //
  height:            color('diagram', 'construction7'),
  border:            color('diagram', 'construction8'),
  radius:            color('diagram', 'construction7'),
  circumference:     color('diagram', 'disabledDark'),
  //
  grid:              color('diagram', 'disabled', 'darkest'),
);

body {
  @include color_vars($colors);
}

.diagram__text {
  z-index: 1;
}
