@import '../../../../../../css/color';

$colors: (
  qrLines:              color('blue'),
  qrAngle1:             color('red'),
  qrAngle2:             color('green'),
  qrAngle3:             color('yellow'),
  qrAngle4:             color('cyan'),
  qrDisabled:           color('grey', 'darker'),
  qrIntersectingLine:   color('blue', 'lighter'),
);

body {
  @include color_vars($colors);
}

// .diagram__text {
//   z-index: 0;
// }
