@import '../../../../../../css/color';

$colors: (
  qrPointsLineDistance_lines:                color('blue'),
  qrPointsLineDistance_points:               color('blue'),
  qrPointsLineDistance_distance:             color('yellow'),
  qrPointsLineDistance_distance2:            color('violet'),
);

#topic__content {
  @include color_vars($colors);
}
