.radians_table {
  text-align: center;
  table-layout: fixed;
  border-spacing: 0;
  color: #fdf1aa;
  color: var(--color-diagram-text);
  border-radius: 0.5em;
  position: absolute;
  left: 7%;
  font-weight: 100;
}

.fractions_table {
  width: calc(var(--topic__diagram-font-size) * 7);
  margin-left: 63%;
  top: 16%;
  font-size: 0.7em;
}

.comparison_table {
  width: calc(var(--topic__diagram-font-size) * 10);
  margin-left: 57%;
  font-size: 1em;
  top: 11%;
}

.radians_table th {
  font-weight: normal;
}

.radians_table tr {
  padding: 0;
  height: 2em;
}

.radians_table_hidden {
  display: none;
}

// .fractions_table tr {
//   height: 2em;
// }

.radians_table tr:first-child {
  text-align: center;
  color: #929292;
  color: var(--color-degrees-heading);
  height: 2.5em;
  font-size: 1em;
}

.radians_table_value {
  font-family: 'Times New Roman', Times, serif;
}

.radians_table sup {
  font-size: 0.9em;
}

.radians_table sub {
  font-size: 0.9em;
}

.action_word_table {
  font-weight: normal;
  text-decoration: none;
}

.radians_table_fade_out {
  opacity: 0;
  -webkit-animation: fadeout 3s linear;
  -moz-animation: fadeout 3s linear;
  animation: fadeout 3s linear;
  -o-animation: fadeout 3s linear;
}

@-webkit-keyframes fadeout {
  0% { -webkit-opacity: 1; }
  50% { -webkit-opacity: 0; }
  100% { -webkit-opacity: 0; }
}

@keyframes fadeout {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; }
}

.temp_video {
  // width: 800px;
  // height: 400px;
  z-index: 1000;
  pointer-events: auto;
}

.figureone_dev_only {
  visibility: visible;
}