@import '../../../../../../css/color';

$colors: (
  qrCircle_circle:      color('red'),
  qrCircle_radius:               color('blue'),
  qrCircle_diameter:             color('green'),
  qrCircle_center:               color('yellow'),
  qrCircle_grid:                 color('grey', 'dark'),
  qrCircle_circleFill:           color('black', 'dark'),
  qrCircle_property:             color('red'),
);

body {
  @include color_vars($colors);
}
