@import '../../geometry';

$colors: (
  circle:       map-get($geometry_colors, circle),
  dimensions:   map-get($geometry_colors, dimensions),
);

body {
  @include color_vars($colors);
}

.diagram__text {
  z-index: 1;
}
