$fontfamily-logo: 'Lato', sans-serif;
$fontfamily-heading: 'Lato', sans-serif;
$fontfamily-body: 'Open Sans', sans-serif;

body {
  background-color: color('site', 'background');
  color: color('site', 'text');
  font-family: $fontfamily-body;
}

h1,
h2,
h3,
h4,
h5, {
  font-family: $fontfamily-heading;
}

// h2 {
//   font-weight: 200;
//   font-size: 1.8em;
// }
