$fontfamily-heading: 'Lato', sans-serif;

body {
  background-color: color('site', 'background');
  // color: color('site', 'text');
  color: color('site', 'text');
  font-family: 'Open Sans', sans-serif;
  // font-family: Arial, sans-serif;
  // box-sizing: border-box;
}

// button:focus,
// a:focus,
// div:focus {
//   outline: 3px solid #76B8FF;
// }
h1,
h2,
h3,
h4 {
  // font-family: Lato, Arial, sans-serif;
  font-family: $fontfamily-heading
}

h2 {
  font-weight: 200;
  font-size: 1.8em;
}

