$fontfamily-logo: 'Lato', sans-serif;
$fontfamily-heading: 'Lato', sans-serif;
$fontfamily-body: 'Open Sans', sans-serif;

body {
  background-color: #fafafa;
  background-color: var(--color-site-background);
  color: #5f5f5f;
  color: var(--color-site-text);
  font-family: $fontfamily-body;
}

h1,
h2,
h3,
h4,
h5, {
  font-family: $fontfamily-heading;
}

h1 {
  color: #1f1f1f;
  color: var(--color-site-h1);
}
// h2 {
//   font-weight: 200;
//   font-size: 1.8em;
// }

#video_tester {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 0;
  top: 0;
}
