
body {
  background-color: color('site', 'background');
  // color: color('site', 'text');
  color: color('site', 'text');
  // font-family: Helvetica Neue, Arial, sans-serif;
  // box-sizing: border-box;
}
