@import 'settings/color-utils';
@import 'settings/color-palettes/color-palette_pastel';
@import 'settings/color-palettes/color-palette_standard';
@import 'settings/color-themes/color-theme_standard_light';
@import 'settings/color-themes/color-theme_standard_dark';
//
@import 'settings/colors';
//
@import "blocks/presentationLesson";
