@import '../../../geometry';

$colors: (
  sides:             color('blue'),
  angles:            color('green'),
  externalAngle:     color('red'),
);

body {
  @include color_vars($colors);
}

.diagram__text {
  z-index: 0;
}
