@import '../../../geometry';

$colors: (
  sides:             color('blue', 'base'),
  highlight:         color('red'),
  grey:              color('grey', 'base'),
  darkGrey:          color('grey', 'darker'),
);

body {
  @include color_vars($colors);
}
