@import '../../../geometry';

.simple_lesson__container {
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: color('white', 'lightest');
  color: color('grey', 'darker');
}

#wss_collection_1 {
  width: 300px;
  height: 150px;
  background-color: #AFA;
}

#wss_collection_2 {
  float: right;
  width: 150px;
  height: 300px;
  background-color: #AFA;
}
