@import '../../../geometry';

$colors: (
  circle:               color('red', 'dark'),
  dimensions:            color('blue', 'dark'),
);

body {
  @include color_vars($colors);
}

#id_figure1_asdf {
  width: 100%;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  // background-color: color('white', 'lightest');
}

#id_figure2_asdf {
  // width: 300px;
  // height: 300px;
  width: 100%;
  height: 260px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#id_figure3_asdf {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  // background-color: color('white', 'lightest');
}

#id_figure3a_asdf {
  width: 100%;
  height: 2000px;
  margin-top: 20px;
  margin-bottom: 20px;
  // background-color: color('yellow');
}

#id_figure4_asdf {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#id_figure5_asdf {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#id_figure6_asdf {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#id_figure7_asdf {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#id_figure8_asdf {
  width: 100%;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}



.diagram__text {
  z-index: 1;
}
