@import '../../../geometry';

$colors: (
  circle:               color('red', 'dark'),
  dimension:            color('blue', 'dark'),
);

body {
  @include color_vars($colors);
}

.simple_lesson__container {
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: color('white', 'lightest');
  color: color('grey', 'darker');
}

#id_figure1 {
  width: 100%;
  height: 200px;
  // background-color: color('white', 'lightest');
}
