$radius: 0.6em;
$button_size: 0.4em;

.dropdown_button_container {
  width: 100%;
  height: 100%;
  display: table;
  border-radius: $radius;
  color: var(--color-button-text);
}

.dropdown_button_container:hover {
  background-color: var(--color-button-hover-background);
}

.dropdown_button_selected {
  background-color: var(--color-button-select-background);
  color: var(--color-button-select-text);
}

.dropdown_button_selected:hover {
  background-color: var(--color-button-select-hover-background);
}

.dropdown_button_label_container {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.9em;
  padding-right: 0.9em;
  border-radius: 0.3em;
  width: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.dropdown_button_label {
  display: inline-block;
  pointer-events: none;
  font-weight: 100;
}

.dropdown_button_arrow {
  display: inline-block;
  border-left: $button_size solid transparent;
  border-right: $button_size solid transparent;
  border-bottom: $button_size solid;
  margin-left: 0.6em;
  transform: translate(0, -0.2em);
  -webkit-transform: translate(0, -0.2em);
  pointer-events: none;
}

.dropdown_button_arrow_down {
  border-left: $button_size solid transparent;
  border-right: $button_size solid transparent;
  border-top: $button_size solid;
  border-bottom: 0;
  vertical-align: middle;
  transform: translate(0, -0.05em);
  -webkit-transform: translate(0, -0.05em);
}

.dropdown_button_arrow_up {
  border-left: $button_size solid transparent;
  border-right: $button_size solid transparent;
  border-bottom: $button_size solid;
  border-top: 0;
  vertical-align: middle;
  transform: translate(0, -0.05em);
  -webkit-transform: translate(0, -0.05em);
}

.dropdown_button_arrow_right {
  border-left: $button_size solid;
  border-right: 0;
  border-bottom: $button_size solid transparent;
  border-top: $button_size solid transparent;
  padding-right: 0.3em;
  vertical-align: middle;
  transform: translate(0.2em, -0.05em);
  -webkit-transform: translate(0.2em, -0.05em);
}

.dropdown_button_arrow_left {
  border-left: 0;
  border-right: $button_size solid;
  border-bottom: $button_size solid transparent;
  border-top: $button_size solid transparent;
  padding-right: 0.3em;
  vertical-align: middle;
  transform: translate(0, -0.05em);
  -webkit-transform: translate(0, -0.05em);
}

.dropdown_button_list {
  position: absolute;
  z-index: 10;
  background-color: var(--color-menu-background);
  border-radius: $radius;
  // border: 1px solid #ccc;
  border: 1px solid var(--color-menu-separator);
  cursor: default;
  overflow: hidden;
}

.dropdown_button_list_hide {
  // left: -10000px;
  // top: -10000px;
  // visibility: none;
  display: none;
}

.dropdown_button_list_item {
  color: var(--color-menu-text);
  background-color: var(--color-menu-background);
  white-space: nowrap;
  position: relative;
  display: block;
  padding: 0.2em 1.2em 0.2em 1.2em;
}

.dropdown_button_list_item:hover {
  background-color: var(--color-menu-background-hover);
  cursor: pointer;
}

.dropdown_button_list_item_active {
  background-color: var(--color-menu-background-select);
  color: var(--color-menu-text-select);
}

// .dropdown_button_list_item_active .dropdown_button_list_item_link:focus {
//   outline: 3px solid white;
// }

.dropdown_button_list_item_active:hover {
  background-color: var(--color-menu-background-select-hover);
}

.dropdown_button_list_item_disabled {
  color: var(--color-menu-text-disabled);
  background-color: var(--color-menu-background);
}

.dropdown_button_list_item_disabled:hover {
  color: var(--color-menu-text-disabled);
  background-color: var(--color-menu-background);
  cursor: default;
}

.dropdown_button_list_item_separator {
  color: var(--color-menu-text-disabled);
  background-color: var(--color-menu-background);
  font-size: 0.75em;
  padding-top: 0.75em;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--color-menu-separator);
  border-top: 1px solid var(--color-menu-separator);
}

.dropdown_button_list_item_separator:hover {
  color: var(--color-menu-text-disabled);
  background-color: var(--color-menu-background);
  cursor: default;
}
