$radius: 0.6em;
$button_size: 0.4em;

.dropdown_button_container {
  width: 100%;
  height: 100%;
  display: table;
  border-radius: $radius;
  // background-color: color('lesson', 'title-background');
  background-color: color('white', 'lighter');
  // border: 1px solid color('white', 'lighter');
  // color: #929292;
  color: color('black', 'lighter');
}

.dropdown_button_container:hover {
  background-color: color('white', 'light');
}

.dropdown_button_selected {
  // background: color('site', 'safe', 'base');
  background-color: #007bff;
  color: white;
}

.dropdown_button_selected:hover {
  background: color('site', 'safe', 'light');
}

.dropdown_button_label_container {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  padding-left: 0.9em;
  padding-right: 0.9em;
  border-radius: 0.3em;
  width: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.dropdown_button_label {
  display: inline-block;
  pointer-events: none;
  font-weight: 100;
}

.dropdown_button_arrow {
  display: inline-block;
  border-left: $button_size solid transparent;
  border-right: $button_size solid transparent;
  border-bottom: $button_size solid;
  margin-left: 0.6em;
  transform: translate(0, -0.2em);
  -webkit-transform: translate(0, -0.2em);
  pointer-events: none;
  // color: #929292;
}

.dropdown_button_arrow_down {
  border-left: $button_size solid transparent;
  border-right: $button_size solid transparent;
  border-top: $button_size solid;
  border-bottom: 0;
  vertical-align: middle;
  transform: translate(0, -0.05em);
  -webkit-transform: translate(0, -0.05em);
}

.dropdown_button_arrow_up {
  border-left: $button_size solid transparent;
  border-right: $button_size solid transparent;
  border-bottom: $button_size solid;
  border-top: 0;
  vertical-align: middle;
  transform: translate(0, -0.05em);
  -webkit-transform: translate(0, -0.05em);
}

.dropdown_button_arrow_right {
  border-left: $button_size solid;
  border-right: 0;
  border-bottom: $button_size solid transparent;
  border-top: $button_size solid transparent;
  padding-right: 0.3em;
  vertical-align: middle;
  transform: translate(0.2em, -0.05em);
  -webkit-transform: translate(0.2em, -0.05em);
}

.dropdown_button_arrow_left {
  border-left: 0;
  border-right: $button_size solid;
  border-bottom: $button_size solid transparent;
  border-top: $button_size solid transparent;
  padding-right: 0.3em;
  vertical-align: middle;
  transform: translate(0, -0.05em);
  -webkit-transform: translate(0, -0.05em);
}

.dropdown_button_list {
  position: absolute;
  z-index: 10;
  background-color: white;
  border-radius: $radius;
  border: 1px solid #ccc;
  cursor: default;
  overflow: hidden;
}

.dropdown_button_list_hide {
  left: -10000px;
  top: -10000px;
}

.dropdown_button_list_item {
  color: color('grey', 'base');
  background-color: white;
  white-space: nowrap;
  position: relative;
  display: block;
  padding: 0.2em 1.2em 0.2em 1.2em;
}

.dropdown_button_list_item:hover {
  background-color: color('white', 'lightest');
  cursor: pointer;
}

.dropdown_button_list_item_active {
  color: color('white', 'base');
  background: color('site', 'safe', 'base');
}

.dropdown_button_list_item_active:hover {
  background: color('site', 'safe', 'base');
}

.dropdown_button_list_item_disabled {
  color: color('grey', 'lighter');
  background-color: white;
}

.dropdown_button_list_item_disabled:hover {
  color: color('grey', 'lighter');
  background-color: white;
  cursor: default;
}

.dropdown_button_list_item_separator {
  color: color('grey', 'base');
  background-color: color('white', 'lightest');
  font-size: 0.75em;
  padding-top: 0.75em;
  padding-bottom: 5px;
  border-bottom: 1px solid color('white', 'base');
  border-top: 1px solid color('white', 'base');
}

.dropdown_button_list_item_separator:hover {
  color: color('grey', 'base');
  background-color: color('white', 'lightest');
  cursor: default;
}
