#id__lesson__test_explanation_button_list {
  width: 300px;
}

.explanation_button__listItem {
  // display: table;
  width: 100%;
  table-layout: fixed;
}

.explanation_button__label {
  vertical-align: middle;
  text-align: left;
  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
}

.explanation_button__label_title {
}

.explanation_button__label_description {
  font-size: 0.8em;
  color: color('grey', 'lighter');
}

.explanation_button__rating {
  vertical-align: middle;
  width: 4em;
  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
}

.explanation_button__rating_value {
  font-size: 0.8em;
  text-align: center;
}

.explanation_button__rating_num_reviews {
  font-size: 0.6em;
  text-align: center;
}

// .explanation_button__label_rating_value::before {
//   content: '\2605 \2605 \2605 \2605 \2605';
// }

// .explanation_button__label_rating_value_0 {
//   width: 1%;
//   color: rgba(1, 0, 0, 0);
// }

// .explanation_button__label_rating_value_0p5 {
//   width: 10%;
// }

// .explanation_button__label_rating_value_1 {
//   width: 20%;
// }

// .explanation_button__label_rating_value_1p5 {
//   width: 30%;
// }

// .explanation_button__label_rating_value_2 {
//   width: 40%;
// }

// .explanation_button__label_rating_value_2p5 {
//   width: 50%;
// }

// .explanation_button__label_rating_value_3 {
//   width: 60%;
// }

// .explanation_button__label_rating_value_3p5 {
//   width: 70%;
// }

// .explanation_button__label_rating_value_4 {
//   width: 80%;
// }

// .explanation_button__label_rating_value_4p5 {
//   width: 90%;
// }

// .explanation_button__label_rating_value_5 {
//   width: 100%;
// }


