#id__lesson__test_explanation_button_list {
  width: 300px;
}

.explanation_button__label {

}

.explanation_button__label_text {
  display: inline-block;
}

.explanation_button__label_rating {
  display: inline-block;
}
