.footer__container {
  // height: 200px;
  width: 100%;
  background-color: color('site', 'menus');
  display: table;
  padding: 2em;
  text-align: center;
}

.footer__terms_of_use {
  font-size: 0.8em;
  text-align: center;
  color: color('white', 'light');
  margin-bottom: 1.5em;
  font-weight: 200;
}

.footer__terms_of_use__link {
  color: color('white', 'light');
  font-weight: 600;
}

.footer__terms_of_use__link:hover {
  color: color('white', 'lightest');
}

.footer__item {
  font-size: 0.8em;
  margin-left: 1em;
  margin-right: 1em;
}

.footer__item:hover {
  color: color('white', 'lightest');
}

.footer__item__label {
  color: color('white', 'light');
}

.footer__item__label:hover {
  color: color('white', 'lightest');
}

@media screen and (min-width: 500px) {
  .footer__item {
    display: inline-block;
  }
}
