.footer__container {
  height: 200px;
  width: 100%;
  background-color: color('site', 'menus');
  display: table;
}

.footer_contact {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  color: #BBB;
  font-size: 12px;
}
