$width: 250px;

// ///////////////////////////////////////////////////////
// Form and Title
.input_form__spacer {
  height: 1em;
}

.input_form__info {
  font-size: 0.8em;
  color: var(----color-site-disabled);
  width: $width;
  max-width: calc(100vw - 2em);
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.input_form p {
  margin-bottom: 1px;
  text-align: center;
  width: 100vw;
}

.input_form__centering_cell {
  text-align: center;
  min-width: 300px;
}

.input_form__title__logo {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--color-site-primary);
  -webkit-box-shadow: 0 5px 7px #333;
  -moz-box-shadow: 0 5px 7px #333;
  box-shadow: 0 5px 7px #333;
  position: relative;
}

.input_form__title__logo_link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.input_form__title__logo_text_container {
  display: table;
  width: 100%;
  height: 100%;
  background-image: $main-logo;
  background-size: cover;
}

.input_form__title__logo_text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: var(--color-site-logo-text);
  height: 100%;
  width: 100%;
  font-size: 18px;
}

.input_form__title__text {
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 1.2em;
  color: var(--color-site-text);
}

// ///////////////////////////////////////////////////////
// Form Fields (labels and entry)
.input_form__field {
  position: relative;
  margin-bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: $width;
  max-width: calc(100vw - 2em);
  text-align: left;
}

.input_form__field_label label {
  margin-bottom: 0;
  margin-bottom: 3px;
  font-size: 0.8em;
  color: var(----color-site-disabled);
}

.input_form__check {
  display: table;
  table-layout: fixed;
}

.input_form__check_box {
  display: table-cell;
  vertical-align: middle;
  width: 2em;
  text-align: center;
}

.input_form__check_label {
  display: table-cell;
  vertical-align: middle;
}

.input_form__field_entry {
  border-radius: 5px;
  height: 2em;
  border: 1px solid lightgray;
  width: $width;
  max-width: calc(100vw - 2em);
  padding: 0.3em;
}

.input_form__field_error_message {
  position: absolute;
  text-align: center;
  font-size: 0.7em;
  color: var(--color-site-warning);
  top: 56px;
  left: 0;
}

.input_form__field_error_message__check {
  top: 3em;
}

// ///////////////////////////////////////////////////////
// Submit button
.input_form__submit_container {
  position: relative;
  padding: 1px;
  text-align: center;
}

.input_form__submit_button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  background-color: var(--color-site-color-button-background);
  color: var(--color-site-color-button-text);
  font-size: 0.9em;
  // border: 0;
  height: 2.3em;
  width: 150px;
  max-width: calc(100vw - 2em);
  border-radius: 5px;
  // border: 1px solid var(--color-site-button-border);
}

.input_form__submit_button:hover {
  background-color: var(--color-site-color-button-hover-background);
}

.input_form__submit_ok_message_container {
  // text-align: left;
  // font-size: 0.9em;
  // color: var(--color-site-text);
  // bottom: -20px;
  // width: $width;
  // display: block;
  // margin-left: auto;
  // margin-right: auto;
  // margin-top: 20px;
      /* text-align: left; */
  font-size: 0.8em;
  color: var(--color-site-safe);
  width: 250px;
  max-width: calc(100vw - 2em);
  position: absolute;
  left: calc(50% - 125px);
  top: -0.3em;
}

.input_form__submit_ok_message_text {
  margin-bottom: 10px;
  display: block;
}

.input_form__submit_error_message {
  position: absolute;
  text-align: center;
  font-size: 0.7em;
  color: var(--color-site-warning);
  top: 0;
  width: $width;
  max-width: calc(100vw - 2em);
}

// ///////////////////////////////////////////////////////
// Footer
#input_form__footer {
  text-align: center;
  width: $width;
  max-width: calc(100vw - 2em);
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
}

// ///////////////////////////////////////////////////////
// Extras
.input_form__link {
  font-size: 0.7em;
  width: 125px;
}

.login_form__link_create {
  padding-right: 20px;
}

.login_form__link_forgot {
  padding-left: 20px;
}
// .input_form__submit_failed {
//   position: absolute;
//   text-align: center;
//   font-size: 0.7em;
//   top: -20px;
// }
