$title-height: 7;       // in vw units
$text-p-top-margin: 3;  // in vw units

// Content area aspect ratio
$diagram_ratio: 1.5;

$title_bar_space_high: 120px;
$title_bar_space_low: 90px;

// Default variable values for portrait, max width aspect ratios
// Default spacing is:
//   Content height = 1;
//   vspace: 0.02;
//   button height: 0.1;
//   top/bottom padding: 0.02;

// This means the max container aspect ratio for a 3/2 content screen
// where vw can be max is:
// 3 / 2x where x is:
//   1 + 0.02 + 0.02 * 2 + 0.15) = 2 * 1.21;
// = 3 / 2.42 = 300 / 242
$portrait_vspace: 0.02;
$portrait_vpadding: 0.02;
$portrait_button_height: 0.15;

// Default variable values for landscape, max height aspect ratios
// content width = content height * AR
// hspace: 0.04;
// button width: 0.1;
// left/right padding: 0.04;
//
// Therefore min aspect ratio for a 3/2 content window is:
// 3x / 2 where x is:
//                    1 + 0.04 * 4 + 0.1 * 2 = 1.36
// => 4.08 / 2 = 408 / 200
$landscape_hspace: 0.04;
$landscape_hpadding: 0.04;
$landscape_button_width: 0.1;
// In this scenario, the content is  1 / 1.36 the content = 73.5%
$landscape_content_width: 0.7353;

// In between aspect ratio will be landscape orientation, but width limited
// Same width ratios as above

$landscape_aspect_ratio: "300/242";
$height_limited_landscape_aspect_ratio: "408/200";

@media (min-aspect-ratio: 1/100) {
  :root {
    --lesson__title_space: #{$title_bar_space_high};
    //
    --pres__content_width: 95vw;
    --pres__content_height: calc(var(--pres__content_width) / #{$diagram_ratio});
    --pres__container_width: var(--pres__content_width);
    //
    --pres__nav_button_height: calc(var(--pres__content_height) * #{$portrait_button_height});
    --pres__vspace: calc(var(--pres__content_height) * #{$portrait_vspace});
    --pres__vpadding: calc(var(--pres__content_height) * #{$portrait_vpadding});
    --pres__container_height: calc(var(--pres__content_height) + var(--pres__vspace) + var(--pres__nav_button_height));
    //
    --pres__nav_button_width: calc(var(--pres__nav_button_height) * 0.7);
  }
}

@media (min-aspect-ratio: $landscape_aspect_ratio) {
  :root {
    //
    --pres__content_width: calc(100vw * #{$landscape_content_width});
    --pres__content_height: calc(var(--pres__content_width) / #{$diagram_ratio});
    --pres__container_width: 100vw;
    --pres__container_height: var(--pres__content_height);
    //
    --pres__hspace: calc(var(--pres__content_width) * #{$landscape_hspace});
    --pres__hpadding: calc(var(--pres__content_width) * #{$landscape_hpadding});
    --pres__nav_button_width: calc(var(--pres__content_width) * #{$landscape_button_width});
    --pres__nav_button_height: calc(var(--pres__content_width) * #{$landscape_button_width} * 2);
  }
}

@media (min-aspect-ratio: $height_limited_landscape_aspect_ratio) {
  :root {
    --pres__content_height: 100vh;
    --pres__content_width: calc(var(--pres__content_height) * #{$diagram_ratio});
    --pres__container_width: calc(var(--pres__content_width) * 1.36);
  }
}

:root {
  --pres__unit: calc(var(--pres__content_width) / 35);
  //
  // --pres__nav_button_width: calc(var(--pres__unit) * 2);
  --pres__text_margin: calc(var(--pres__unit) * 0.8);
  --pres__text_p_space: calc(var(--pres__unit) * 1);
  //
  --pres__button_height: calc(var(--pres__unit) * 1.8);
  //
  --lesson__diagram-font-size: var(--pres__unit);
}

@mixin lesson_vars() {
  @each $var, $value in $_lesson_vars {
    @if type-of($value) == "map" {
      @each $subvar, $subvalue in $value {
        @if type-of($subvalue) == "map" {
          @each $subsubvar, $subsubvalue in $subvalue {
            --lessonvars-#{$var}-#{$subvar}-#{$subsubvar}: #{$subsubvalue};
          }
        }

        @else {
          --lessonvars-#{$var}-#{$subvar}: #{$subvalue};
        }
      }
    }

    @else {
      --lessonvars-#{$var}: #{$value};
    }
  }
}

.lesson__widescreen_backdrop {
  font-size: var(--pres__unit);
  // background-color: color('diagram', 'background');
  background-color: color('presentation', 'background');
  padding-top: var(--pres__vpadding);
  padding-bottom: var(--pres__vpadding);
}

.lesson__container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: var(--pres__container_width);
  height: var(--pres__container_height);
  margin-bottom: 0;
}

.lesson__diagram {
  width: var(--pres__content_width);
  height: var(--pres__content_height);
  background-color: color('diagram', 'background');
}

@media (min-aspect-ratio: $landscape_aspect_ratio) {
  .lesson__diagram {
    display: inline-block;
  }
}

.lesson-clear-floats {
  clear: both;
}

.lesson__padding_override {
  padding: 0;
}

.highlight_word {
  color: color('diagram', 'text-keyword');
  font-style: italic;
}

.action_word {
  font-weight: bold;
}

.lesson__action_word_disabled_by_popup {
  pointer-events: none;
  cursor: auto;
}

.action_word_enabled {
  // text-decoration: underline;
  cursor: pointer;
}

.lesson__sanskrit,
.lesson__arabic,
.lesson__latin,
.lesson__greek,
.greek,
.latin {
  font-style: italic;
  font-family: Times New Roman, serif;
  color: color('diagram', 'text-latin');
}

// .greek {
//   font-style: italic;
//   color: color('diagram', 'text-greek');
// }

.english {
  font-style: italic;
  color: color('diagram', 'text-english');
}

.lesson__font_0p95 {
  font-size: calc(var(--lesson__diagram-font-size) * 0.95);
}

.lesson__font_0p9 {
  font-size: calc(var(--lesson__diagram-font-size) * 0.9);
}

.lesson__font_0p8 {
  font-size: calc(var(--lesson__diagram-font-size) * 0.8);
}

.lesson__font_0p7 {
  font-size: calc(var(--lesson__diagram-font-size) * 0.7);
}

.lesson__font_0p6 {
  font-size: calc(var(--lesson__diagram-font-size) * 0.6);
}

.lesson__font_0p5 {
  font-size: calc(var(--lesson__diagram-font-size) * 0.5);
}

.lesson__font_0p4 {
  font-size: calc(var(--lesson__diagram-font-size) * 0.4);
}

.lesson__font_0p3 {
  font-size: calc(var(--lesson__diagram-font-size) * 0.4);
}

.lesson__note {
  font-size: calc(var(--lesson__diagram-font-size) * 0.4);
  color: color('diagram', 'disabled');
}

.lesson__sub_title {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: var(--pres__text_p_space);
  padding-left: calc(var(--pres__text_margin) * 0.2);
  margin-left: calc(var(--pres__text_margin) * 1);
  color: color('diagram', 'disabled');
  font-size: calc(var(--lesson__diagram-font-size) * 0.6);
  font-style: italic;
}

.lesson__table {
  border-collapse: separate;
  color: color('diagram', 'text-base');
  margin-left: calc(var(--pres__text_margin) * 1);
  margin-right: calc(var(--pres__text_margin) * 1);
  font-size: calc(var(--lesson__diagram-font-size) * 0.8);
}

.lesson__table td {
  padding-left: 2%;
  padding-right: 2%;
}

// ***************************************************************

.lesson__title_navigator_container {
  position: relative;
  width: 100%;
}

// .lesson__title {
//   height: var(--lesson__title_space);
//   text-align: center;
//   // font-weight: bold;
//   width: 100%;
//   background-color: color('lesson', 'title-background');
// }

@media screen and (min-width: $mobile) {
  :root {
    --lesson__title_tile_width: 250px;
    --lesson__title_tile_height: 56px;
    --lesson__title_tile_font_size: 15px;
    --lesson__title_tile_border_radius: 12px;
    --lesson__title_tile_top: 20px;
  }
}

@media screen and (min-width: $tablet) {
  :root {
    --lesson__title_tile_width: 350px;
    --lesson__title_tile_height: 56px;
    --lesson__title_tile_font_size: 20px;
    --lesson__title_tile_border_radius: 22px;
    --lesson__title_tile_top: 20px;
    --lesson__title_space: #{$title_bar_space_low};
  }

  // .lesson__title {
  //   height: 90px;
  // }
}

.lesson__title_tile {
  position: absolute;
  left: calc(50% - var(--lesson__title_tile_width) / 2);
  top: var(--lesson__title_tile_top);
  width: var(--lesson__title_tile_width);
  height: var(--lesson__title_tile_height);
  font-size: var(--lesson__title_tile_font_size);
  z-index: 0
  // transition: all 1.0s ease;
  // transition: none;
}

.lesson__title_tile_containter {
  background: color('site', 'primary');
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 20px;
  border-radius: var(--lesson__title_tile_border_radius);
  color: white;
  text-align: center;
  width: 100%;
  border-bottom: solid 1px #555;
  height: 100%;
  display: table;
}

.lesson__title_tile_title {
  display: table-cell;
  vertical-align: middle;
}

.lesson__title_tile_shadow {
  position: relative;
}

.lesson__title_tile_shadow::before,
.lesson__title_tile_shadow::after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 4px;
  left: 0.5%;
  width: 49.5%;
  // max-width: 300px;
  height: calc(var(--lesson__title_tile_height) - 10px);
  background: #777;
  -webkit-box-shadow: 0 5px 7px #000;
  -moz-box-shadow: 0 5px 7px #000;
  box-shadow: 0 5px 7px #000;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  border-radius: var(--lesson__title_tile_border_radius);
}

.lesson__title_tile_shadow::after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 0.5%;
  left: auto;
}

.lesson__white_spacer {
  width: 100%;
  height: 40px;
  background-color: white;
  z-index: -2;
}

#id_lesson__title_container {
  left: calc(50% - var(--lesson__title_tile_width) / 2);
  top: var(--lesson__title_tile_top);
  width: var(--lesson__title_tile_width);
  height: var(--lesson__title_tile_height);
  font-size: var(--lesson__title_tile_font_size);
}

#id_lesson__title_container .navigator__lesson_tile_title_container {
  width: calc(var(--lesson__title_tile_width) - var(--navigator__tile_padding_horizontal) * 2 - var(--navigator__tile_img_text_space) * 2 - var(--navigator__tile_img_width) * 2);
}

.lesson__item_selector_selected {
  color: color('diagram', 'text-base');
}

.lesson__unit_hide {
  font-size: 0;
}

.lesson__diagram_text_fade_in {
  // opacity: 1;
  -webkit-animation: fadein 0.3s linear;
  -moz-animation: fadein 0.3s linear;
  animation: fadein 0.3s linear;
  -o-animation: fadein 0.3s linear;
}

.lesson__diagram_text {
  margin-left: var(--pres__text_margin);
  margin-right: var(--pres__text_margin);
  margin-top: var(--pres__text_margin);
  height: calc(100% - var(--pres__text_margin) * 2);
}

.lesson__diagram_text ul {
  margin-left: calc(var(--pres__text_margin) * 2);
  margin-right: calc(var(--pres__text_margin) * 1);
  padding-left: calc(var(--lesson__diagram-font-size) * 0.8);
  padding-right: calc(var(--lesson__diagram-font-size) * 0.8);
  font-size: calc(var(--lesson__diagram-font-size) * 0.8);
}

.lesson__diagram_text_small {
  font-size: calc(var(--lesson__diagram-font-size) * 0.8);
}

.lesson__diagram_text p {
  color: color('diagram', 'text-base');
  margin-left: calc(var(--pres__text_margin) * 1);
  margin-right: calc(var(--pres__text_margin) * 1);
  margin-top: var(--pres__text_p_space);
  margin-bottom: 0;
}

.lesson__diagram_text_p_top_margin_2 p {
  margin-top: calc(var(--pres__text_p_space) * 2);
}

.lesson__diagram_text p:first-child {
  margin-top: var(--pres__text_margin);
}

// .lesson__p_top_margin_0 {
//   margin-top: 0;
// }

.lesson__diagram_text_p_width_50 {
  // width: 50%;
  width: calc((var(--pres__content_width) - var(--pres__text_margin) * 2) * 0.5);
}

.lesson__diagram_text_p_width_45 {
  // width: 45%;
  width: calc((var(--pres__content_width) - var(--pres__text_margin) * 2) * 0.45);
}

.lesson__diagram_text_p_width_40 {
  // width: 40%;
  width: calc((var(--pres__content_width) - var(--pres__text_margin) * 2) * 0.4);
}

.lesson__diagram_text_p_width_55 {
  width: calc((var(--pres__content_width) - var(--pres__text_margin) * 2) * 0.55);
}

.lesson__diagram_text_p_width_60 {
  width: calc((var(--pres__content_width) - var(--pres__text_margin) * 2) * 0.6);
}

.lesson__diagram_text_p_width_70 {
  width: calc((var(--pres__content_width) - var(--pres__text_margin) * 2) * 0.7);
}

.lesson__diagram_text_p_width_80 {
  width: calc((var(--pres__content_width) - var(--pres__text_margin) * 2) * 0.8);
}

.lesson__diagram_text_p_right {
  float: right;
}

@-webkit-keyframes fadein {
  0% { -webkit-opacity: 0; }
  100% { -webkit-opacity: 1; }
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.lesson__diagram_text_fade_out {
  opacity: 0;
  -webkit-animation: fadeout 0.3s linear;
  -moz-animation: fadeout 0.3s linear;
  animation: fadeout 0.3s linear;
  -o-animation: fadeout 0.3s linear;
}

@-webkit-keyframes fadeout {
  0% { -webkit-opacity: 1; }
  100% { -webkit-opacity: 0; }
}

@keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@import './lesson/presentation/navigationButtons';
@import './lesson/presentation/gotoButton';
@import './lesson/presentation/interactiveItemButton';
@import './lesson/presentation/infoBox';
@import './lesson/selector';
@import './lesson/definition';
@import './lesson/quizCheck';
@import './lesson/popupBox';
@import './lesson/star';
@import './lesson/pathTile';
@import './lesson/equationNavigator';
