$title-height: 7;       // in vw units
$text-p-top-margin: 3;  // in vw units

// Next/Previous buttons
$np_button-width: 3;
$np_button-height-portrait: 8;
$np_button-height-landscape: 8;
$np_button-vspace: 4;
$np_button-hspace: 4;

// Page / Goto button
$goto_button-width: 9;
$goto_button-height: 4;
$goto_button-font-size: 1;

// Content area aspect ratio
$diagram_ratio: 1.5;

$title_bar_space_high: 120px;
$title_bar_space_low: 90px;

// Default variable values
@media (min-aspect-ratio: 1/100) {
  :root {
    --lesson__title_space: #{$title_bar_space_high};
    --lesson__container-width: 90vw;
    --lesson__container-height: calc(var(--lesson__container-width) / #{$diagram_ratio});
    --lesson__title-height: calc(#{$title-height} * 1vw);
    --lesson__np_button-width: calc(#{$np_button-width} * 1vw);
    --lesson__np_button-height: calc(#{$np_button-height-portrait} * 1vw);
    --lesson__np_button-vspace: calc(#{$np_button-vspace} * 1vw);
    --lesson__np_button-hspace: calc(#{$np_button-hspace} * 1vw);
    --lesson__text-margin: 1em;
    --lesson__text-p-spacing: calc(#{$text-p-top-margin} * 1vw);
    --lesson__goto_button-width: calc(#{$goto_button-width} * 1vw * 1);
    --lesson__goto_button-height: calc(#{$goto_button-height} * 1vw * 1);
    --lesson__goto_button-font-size: calc(#{$goto_button-font-size} * 1vw);
  }
}

@media (min-aspect-ratio: 1/1) {
  :root {
    --lesson__np_button-height: calc(#{$np_button-height-landscape} * 1vw);
    --lesson__goto_button-width: calc(#{$goto_button-width} * 1vw);
    --lesson__goto_button-height: calc(#{$goto_button-height} * 1vw);
  }
}

@media (min-aspect-ratio: 2/1) and (max-height: 500px) {
  :root {
    --lesson-container-width: calc(150vh * #{$diagram_ratio});
    --lesson__goto_button-height: 10vh;
    --lesson__goto_button-width: 20vh;
    --lesson__np_button-height: 20vh;
    --lesson__goto_button-font-size: 3vh;
  }
}

:root {
  --lesson__content-width: var(--lesson__container-width);
  --lesson__content-height: calc(var(--lesson__content-width) / #{$diagram_ratio});
  --lesson__container-height: calc(var(--lesson__content-height) + var(--lesson__np_button-vspace) + var(--lesson__np_button-height));
  --lesson__diagram-font-size: 1;
}

@mixin lesson_vars() {
  @each $var, $value in $_lesson_vars {
    @if type-of($value) == "map" {
      @each $subvar, $subvalue in $value {
        @if type-of($subvalue) == "map" {
          @each $subsubvar, $subsubvalue in $subvalue {
            --lessonvars-#{$var}-#{$subvar}-#{$subsubvar}: #{$subsubvalue};
          }
        }

        @else {
          --lessonvars-#{$var}-#{$subvar}: #{$subvalue};
        }
      }
    }

    @else {
      --lessonvars-#{$var}: #{$value};
    }
  }
}

.lesson__widescreen_backdrop {
  background-color: color('diagram', 'background');
}

.lesson__container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: var(--lesson__container-width);
  height: var(--lesson__container-height);
  margin-bottom: 0;
}

.lesson__diagram {
  width: var(--lesson__content-width);
  height: var(--lesson__content-height);
}

.lesson__diagram_text {
  margin-left: var(--lesson__text-margin);
  margin-right: var(--lesson__text-margin);
  margin-top: var(--lesson__text-margin);
  height: calc(100% - var(--lesson__text-margin) * 2);
}

.lesson__diagram_text ul {
  margin-left: calc(var(--lesson__text-margin) * 2);
  margin-right: calc(var(--lesson__text-margin) * 1);
  padding-left: calc(var(--lesson__diagram-font-size) * 0.8);
  padding-right: calc(var(--lesson__diagram-font-size) * 0.8);
  font-size: calc(var(--lesson__diagram-font-size) * 0.8);
}

.lesson__diagram_text_small {
  font-size: calc(var(--lesson__diagram-font-size) * 0.8);
}

.lesson__diagram_text p {
  color: color('diagram', 'text-base');
  margin-left: calc(var(--lesson__text-margin) * 1);
  margin-right: calc(var(--lesson__text-margin) * 1);
  margin-top: var(--lesson__text-p-spacing);
  margin-bottom: 0;
}

.lesson__diagram_text_p_top_margin_2 p {
  margin-top: calc(var(--lesson__text-p-spacing) * 2);
}

.lesson__diagram_text p:first-child {
  margin-top: var(--lesson__text-margin);
}

// .lesson__p_top_margin_0 {
//   margin-top: 0;
// }

.lesson__diagram_text_p_width_50 {
  // width: 50%;
  width: calc((var(--lesson__content-width) - var(--lesson__text-margin) * 2) * 0.5);
}

.lesson__diagram_text_p_width_45 {
  // width: 45%;
  width: calc((var(--lesson__content-width) - var(--lesson__text-margin) * 2) * 0.45);
}

.lesson__diagram_text_p_width_40 {
  // width: 40%;
  width: calc((var(--lesson__content-width) - var(--lesson__text-margin) * 2) * 0.4);
}

.lesson__diagram_text_p_width_55 {
  width: calc((var(--lesson__content-width) - var(--lesson__text-margin) * 2) * 0.55);
}

.lesson__diagram_text_p_width_60 {
  width: calc((var(--lesson__content-width) - var(--lesson__text-margin) * 2) * 0.6);
}

.lesson__diagram_text_p_width_70 {
  width: calc((var(--lesson__content-width) - var(--lesson__text-margin) * 2) * 0.7);
}

.lesson__diagram_text_p_width_80 {
  width: calc((var(--lesson__content-width) - var(--lesson__text-margin) * 2) * 0.8);
}

.lesson__diagram_text_p_right {
  float: right;
}

.lesson__np_button {
  position: absolute;
  border-style: none;
  border: 0;
  padding: 0;
  background-color: color('diagram', 'background');
  top: calc(100% - (100% - var(--lesson__content-height)) / 2 - var(--lesson__np_button-height) / 2);
  width: 0;
  height: 0;
  border-top: calc(var(--lesson__np_button-height) / 2) solid transparent;
  border-bottom: calc(var(--lesson__np_button-height) / 2) solid transparent;
}

#lesson__button-previous {
  left: 0;
}

#lesson__button-next {
  right: 0;
}

.lesson__button-next-enabled {
  border-left: var(--lesson__np_button-width) solid color('lesson', 'button');
}

.lesson__button-next-enabled:hover {
  border-left: var(--lesson__np_button-width) solid lighten(color('lesson', 'button'), 20);
}

.lesson__button-next-disabled {
  border-left: var(--lesson__np_button-width) solid darken(color('lesson', 'button'), 40);
}

.lesson__button-next-disabled:hover {
  border-left: var(--lesson__np_button-width) solid darken(color('lesson', 'button'), 40);
}

.lesson__button-prev-enabled {
  border-right: var(--lesson__np_button-width) solid color('lesson', 'button');
}

.lesson__button-prev-enabled:hover {
  border-right: var(--lesson__np_button-width) solid lighten(color('lesson', 'button'), 20);
}

.lesson__button-prev-disabled {
  border-right: var(--lesson__np_button-width) solid darken(color('lesson', 'button'), 40);
}

.lesson__button-prev-disabled:hover {
  border-right: var(--lesson__np_button-width) solid darken(color('lesson', 'button'), 40);
}

.lesson__button-goto_container {
  position: absolute;
  border: 0;
  left: calc(50% - var(--lesson__goto_button-width) / 2);
  top: calc(100% - (100% - var(--lesson__content-height)) / 2 - var(--lesson__goto_button-height) / 2);
  height: var(--lesson__goto_button-height);
  width: var(--lesson__goto_button-width);
  font-size: var(--lesson__goto_button-font-size);
  color: color('lesson', 'text');
  background-color: color('diagram', 'background');
  border-radius: 0.3em;
  font-weight: 200;
}

.lesson__button-goto_container:hover {
  background-color: color('diagram', 'background', 'darker');
}

// .lesson__button-goto {
//   position: absolute;
//   border: 0;
//   background-color: color('diagram', 'background');
//   font-size: var(--lesson__goto_button-font-size);
//   color: color('lesson', 'text');
//   width: var(--lesson__goto_button-width);
//   border-radius: 0.3em;
// }

// #lesson__button-goto:hover {
//   background-color: color('diagram', 'background', 'darker');
// }

// #lesson__page_number {
//   position: absolute;
//   left: 0;
//   width: 100%;
//   top: calc(100% - (100% - var(--lesson__content-height)) * 3 / 4 - var(--lesson__goto_button-font-size) / 2);
//   font-size: var(--lesson__goto_button-font-size);
//   text-align: center;
//   color: color('navbar', 'button');
// }

@media (min-aspect-ratio: 3/2) {
  :root {
    --lesson__content-width: calc(var(--lesson__container-width) - 2 * var(--lesson__np_button-width) - 2 * var(--lesson__np_button-hspace));
    --lesson__content-height: calc(var(--lesson__content-width) / #{$diagram_ratio});
    --lesson__container-height: var(--lesson__content-height);
    //
    --lesson__max_container-height: 100vh;
    --lesson__max_content-height: var(--lesson__max_container-height);
    --lesson__max_content-width: calc(var(--lesson__max_content-height) * #{$diagram_ratio});
    --lesson__max_container-width: calc(var(--lesson__max_content-width) + 2 * var(--lesson__np_button-width) + 2 * var(--lesson__np_button-hspace));
  }

  .lesson__container {
    width: var(--lesson__container-width);
    height: var(--lesson__container-height);
    margin-left: auto;
    margin-right: auto;
    max-height: var(--lesson__max_container-height);
    max-width: var(--lesson__max_container-width);
  }

  .lesson__diagram {
    display: inline-block;
    width: var(--lesson__content-width);
    height: var(--lesson__content-height);
    margin-left: var(--lesson__np_button-hspace);
    margin-right: var(--lesson__np_button-hspace);
    max-height: var(--lesson__max_content-height);
    max-width: var(--lesson__max_content-width);
  }

  .lesson__np_button {
    position: relative;
    top: calc(50% - var(--lesson__np_button-height) / 2);
    display: inline-block;
    vertical-align: top;
    border-top: calc(var(--lesson__np_button-height) / 2) solid transparent;
    border-bottom: calc(var(--lesson__np_button-height) / 2) solid transparent;
  }

  .lesson__button-goto_container {
    left: calc(100% - var(--lesson__np_button-width) / 2 - var(--lesson__goto_button-width) / 2);
    top: calc(93% - var(--lesson__goto_button-height) / 2);
  }
}

.lesson-clear-floats {
  clear: both;
}

.lesson__padding_override {
  padding: 0;
}

.highlight_word {
  color: color('diagram', 'text-keyword');
  font-style: italic;
}

.action_word {
  font-weight: bold;
}

.lesson__action_word_disabled_by_popup {
  pointer-events: none;
  cursor: auto;
}

.action_word_enabled {
  // text-decoration: underline;
  cursor: pointer;
}

.lesson__sanskrit,
.lesson__arabic,
.lesson__latin,
.lesson__greek,
.greek,
.latin {
  font-style: italic;
  font-family: Times New Roman, serif;
  color: color('diagram', 'text-latin');
}

// .greek {
//   font-style: italic;
//   color: color('diagram', 'text-greek');
// }

.english {
  font-style: italic;
  color: color('diagram', 'text-english');
}

.lesson__font_0p95 {
  font-size: calc(var(--lesson__diagram-font-size) * 0.95);
}

.lesson__font_0p9 {
  font-size: calc(var(--lesson__diagram-font-size) * 0.9);
}

.lesson__font_0p8 {
  font-size: calc(var(--lesson__diagram-font-size) * 0.8);
}

.lesson__font_0p7 {
  font-size: calc(var(--lesson__diagram-font-size) * 0.7);
}

.lesson__font_0p6 {
  font-size: calc(var(--lesson__diagram-font-size) * 0.6);
}

.lesson__font_0p5 {
  font-size: calc(var(--lesson__diagram-font-size) * 0.5);
}

.lesson__font_0p4 {
  font-size: calc(var(--lesson__diagram-font-size) * 0.4);
}

.lesson__font_0p3 {
  font-size: calc(var(--lesson__diagram-font-size) * 0.4);
}

.lesson__note {
  font-size: calc(var(--lesson__diagram-font-size) * 0.4);
  color: color('diagram', 'disabled');
}

.lesson__sub_title {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
  margin-top: var(--lesson__text-p-spacing);
  padding-left: calc(var(--lesson__text-margin) * 0.2);
  margin-left: calc(var(--lesson__text-margin) * 1);
  color: color('diagram', 'disabled');
  font-size: calc(var(--lesson__diagram-font-size) * 0.6);
  font-style: italic;
}

.lesson__table {
  border-collapse: separate;
  color: color('diagram', 'text-base');
  margin-left: calc(var(--lesson__text-margin) * 1);
  margin-right: calc(var(--lesson__text-margin) * 1);
  font-size: calc(var(--lesson__diagram-font-size) * 0.8);
}

.lesson__table td {
  padding-left: 2%;
  padding-right: 2%;
}

// ***************************************************************

.lesson__title_navigator_container {
  position: relative;
  width: 100%;
}

// .lesson__title {
//   height: var(--lesson__title_space);
//   text-align: center;
//   // font-weight: bold;
//   width: 100%;
//   background-color: color('lesson', 'title-background');
// }

@media screen and (min-width: $mobile) {
  :root {
    --lesson__title_tile_width: 250px;
    --lesson__title_tile_height: 56px;
    --lesson__title_tile_font_size: 15px;
    --lesson__title_tile_border_radius: 12px;
    --lesson__title_tile_top: 20px;
  }
}

@media screen and (min-width: $tablet) {
  :root {
    --lesson__title_tile_width: 350px;
    --lesson__title_tile_height: 56px;
    --lesson__title_tile_font_size: 20px;
    --lesson__title_tile_border_radius: 22px;
    --lesson__title_tile_top: 20px;
    --lesson__title_space: #{$title_bar_space_low};
  }

  // .lesson__title {
  //   height: 90px;
  // }
}

.lesson__title_tile {
  position: absolute;
  left: calc(50% - var(--lesson__title_tile_width) / 2);
  top: var(--lesson__title_tile_top);
  width: var(--lesson__title_tile_width);
  height: var(--lesson__title_tile_height);
  font-size: var(--lesson__title_tile_font_size);
  z-index: 0
  // transition: all 1.0s ease;
  // transition: none;
}

.lesson__title_tile_containter {
  background: color('site', 'primary');
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 20px;
  border-radius: var(--lesson__title_tile_border_radius);
  color: white;
  text-align: center;
  width: 100%;
  border-bottom: solid 1px #555;
  height: 100%;
  display: table;
}

.lesson__title_tile_title {
  display: table-cell;
  vertical-align: middle;
}

.lesson__title_tile_shadow {
  position: relative;
}

.lesson__title_tile_shadow::before,
.lesson__title_tile_shadow::after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 4px;
  left: 0.5%;
  width: 49.5%;
  // max-width: 300px;
  height: calc(var(--lesson__title_tile_height) - 10px);
  background: #777;
  -webkit-box-shadow: 0 5px 7px #000;
  -moz-box-shadow: 0 5px 7px #000;
  box-shadow: 0 5px 7px #000;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
  border-radius: var(--lesson__title_tile_border_radius);
}

.lesson__title_tile_shadow::after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 0.5%;
  left: auto;
}

.lesson__white_spacer {
  width: 100%;
  height: 40px;
  background-color: white;
  z-index: -2;
}

#id_lesson__title_container {
  left: calc(50% - var(--lesson__title_tile_width) / 2);
  top: var(--lesson__title_tile_top);
  width: var(--lesson__title_tile_width);
  height: var(--lesson__title_tile_height);
  font-size: var(--lesson__title_tile_font_size);
}

#id_lesson__title_container .navigator__lesson_tile_title_container {
  width: calc(var(--lesson__title_tile_width) - var(--navigator__tile_padding_horizontal) * 2 - var(--navigator__tile_img_text_space) * 2 - var(--navigator__tile_img_width) * 2);
}

.lesson__item_selector_selected {
  color: color('diagram', 'text-base');
}

.lesson__unit_hide {
  font-size: 0;
}

@import './lesson/selector';
@import './lesson/definition';
@import './lesson/quizCheck';
@import './lesson/infoBox';
@import './lesson/popupBox';
@import './lesson/star';
@import './lesson/interactiveItemButton';
@import './lesson/pathTile';
@import './lesson/equationNavigator';
