.lesson__links_table {
  table-layout: fixed;
  width: 100%;
  font-size: 0.8em;
}

.lesson__links_table__title_row {
  font-size: 0.8em;
  color: color('white', 'darkest');
  border-bottom: 1px solid color('white', 'light');
  border-top: 1px solid color('white', 'light');
}

.lesson__links_table__link {
  font-size: 0.6em;
  word-break: break-all;
}

.lesson__links_table__link_title {
  font-size: 1em;
}

@media (max-width: 400px) {
  .lesson__links_table__link {
    visibility: hidden;
    overflow: hidden;
    word-break: normal;
  }
}

.lesson__links_table__description {
  width: 10em;
}

.lesson__links_table__your_rating {
  width: 8em;
  text-align: center;
  padding-bottom: 1em;
  padding-top: 1em;
}

.lesson__links_table__total_rating {
  width: 6em;
  text-align: center;
}

.lesson__links_table__disabled {
  color: color('grey', 'light');
}
