.lesson__links_table {
  table-layout: fixed;
  // width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
}

.lesson__links_table__title_row {
  font-size: 0.9em;
  color: color('black', 'lighter');
  border-bottom: 1px solid color('white', 'light');
  border-top: 1px solid color('white', 'light');
}

.lesson__links_table__type {
  text-align: center;
}

.lesson__links_table__type_title {
  text-align: center;
  font-size: 1em;
}

.lesson__links_table__description {
  // font-size: 0.6em;
  // word-break: break-all;
  // text-align: center;
  padding-left: 2em;
  padding-right: 2em;
  color: color('black', 'lighter');
  font-size: 0.9em;
}

.lesson__links_table__description_title {
  padding-left: 2em;
  font-size: 1em;
  color: color('black', 'lighter');
}

.lesson__links_table__title {
  // width: 10em;
}

.lesson__links_table__title_text {
  color: color('site', 'primaryDark');
}

.lesson__links_table__title_title {
  text-align: left;
}

.lesson__links_table__your_rating {
  width: 8em;
  text-align: center;
  padding-bottom: 1em;
  padding-top: 1em;
}

.lesson__links_table__your_rating .rating__stars {
  vertical-align: middle;
}

.lesson__links_table__your_rating .rating__stars_empty {
  background-image: $star-empty;
  background-size: cover;
  width: 100%;
  height: 100%;
}
// .lesson__links_table__your_rating .rating__label {
//   margin-right: 0;
// }

.lesson__links_table__total_rating {
  width: 6em;
  text-align: center;
  color: color('black', 'lighter');
}

.lesson__links_table__total_rating_title {
  color: color('black', 'lighter');
}

.lesson__links_table__disabled {
  color: color('grey', 'light');
}

.lesson__links_table__icon {
  background-size: contain;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  min-width: 4em;
  display: block;
}

.lesson__links_table__icon_presentation {
  background-image: $lesson-presentation;
}

.lesson__links_table__icon_generic,
.lesson__links_table__icon_single_page {
  background-image: $lesson-singlePage;
  min-width: 3em;
}

.lesson__links_table__icon_video {
  background-image: $lesson-video;
}

.lesson__links_table__disclaimer {
  font-size: 1em;
}

.lesson__links_table__disclaimer_email {
  color: color('site', 'primaryDark');
}

.lesson__links_table__disclaimer_email:hover {
  // color: color('blue', 'darker');
  color: color('site', 'primaryDark', 'dark');
  text-decoration: none;
}

@media (max-width: 400px) {
  .lesson__links_table td {
    display: block;
  }

  .lesson__links_table td:nth-child(2) {
    display: inline-block;
  }

  .lesson__links_table td:nth-child(3) {
    display: inline-block;
  }

  .lesson__links_table tr {
    border-bottom: 1px solid #aaa;
  }

  .lesson__links_table__title_row {
    display: none;
  }
}

@media (max-width: 700px) {
  .lesson__links_table__description {
    // visibility: hidden;
    // overflow: hidden;
    // padding-left: 0;
    // padding-right: 0;
    // font-size: 0;
    // width: 0;
    // word-break: normal;
    // display: none;
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: collapse;
  }

  .lesson__links_table__description_title {
    // padding-left: 0;
    // visibility: hidden;
    // overflow: hidden;
    // font-size: 0;
    // display: none;
    // width: 0;
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: collapse;
  }

  .lesson__links_table__icon_generic,
  .lesson__links_table__icon_single_page,
  .lesson__links_table__icon_video,
  .lesson__links_table__icon {
    // width: 0;
    // display: none;
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: collapse;
  }

  .lesson__links_table__type {
    // font-size: 0;
    // display: none;
    display: none;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: collapse;
  }

  .lesson__links_table__type_title {
    // font-size: 0;
    // width: 0;
    // display: none;
  }

  .lesson__links_table__total_rating {
    width: 4em;
    text-align: center;
  }

  // .lesson__links_table {
  //   width: 100%;
  // }
}
