$radius: 4px;
$fontSize: 14px;

.navbar_login {
  position: relative;
}

.navbar_login .dropdown_button_container {
  width: auto;
  // width: 200px;
  background-color: var(--color-navbar-background);
  border: 1px solid var(--color-navbar-background);
  border-radius: $radius;
  font-size: $fontSize;
  color: var(--color-navbar-text);
}

.navbar_login .dropdown_button_label_container {
  width: auto;
}

.navbar_login .dropdown_button_container:hover {
  color: var(--color-navbar-text-hover);
}

.navbar_login .dropdown_button_list {
  border-radius: $radius;
  font-weight: 100;
  font-size: $fontSize;
}

#id_navbar_loginout {
  width: auto;
}

.navbar_logout {
  transform: translate(0.6em, -0.04em);
}

.navbar_login .dropdown_button_list_item_disabled {
  font-size: 0.8em;
  border-bottom: 1px solid var(--color-menu-separator);
  color: var(--color-menu-disabled-text);
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}
