.figureone_playback_control {
  width: 100%;
  height: 20;
  background-color: red;
  display: table;
  table-layout: fixed;
}

.figureone_playback_controll_seek_container {
  display: table-cell;
  vertical-align: middle;
}

.figureone_playback_control__play {
  background-image: $play;
  width: 20px;
  height: 20px;
  display: table-cell;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.figureone_playback_control__pause {
  background-image: $pause;
  width: 20px;
  height: 20px;
  display: table-cell;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.figureone_playback_control__pause_recording {
  background-image: $pause;
  width: 20px;
  height: 20px;
  display: table-cell;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.figureone_playback_control__record {
  background-image: $circle;
  width: 20px;
  height: 20px;
  display: table-cell;
  background-position: center;
  background-repeat: no-repeat;
}

.figureone_playback_control__time {
  display: table-cell;
  font-size: 0.8em;
  vertical-align: middle;
  width: 7em;
  text-align: center;
}

.figureone_playback_control__hide {
  display: none;
}

.figureone_playback_control__h_space {
  width: 7px;
  display: table-cell;
}

.figureone_playback_control__show_recording {
  width: 4em;
  height: 20px;
  display: table-cell;
  vertical-align: middle;
  font-size: 0.7em;
}
