@import './style.scss';

// Content area aspect ratio
$diagram_ratio: 1.5;

// $title_bar_space_high: 120px;
// $title_bar_space_low: 90px;

// Default variable values for portrait, max width aspect ratios
// Default spacing is:
//   Content height = 1;
//   vspace: 0.02;
//   button height: 0.1;
//   top/bottom padding: 0.02;

// This means the max container aspect ratio for a 3/2 content screen
// where vw can be max is:
// 3 / 2x where x is:
//   1 + 0.02 + 0.02 * 2 + 0.15) = 2 * 1.21;
// = 3 / 2.42 = 300 / 242
$portrait_vspace: 0.02;
$portrait_vpadding: 0.02;
$portrait_button_height: 0.15;

// Default variable values for landscape, max height aspect ratios
// content width = content height * AR
// hspace: 0.04;
// button width: 0.1;
// left/right padding: 0.04;
//
// Therefore min aspect ratio for a 3/2 content window is:
// 3x / 2 where x is:
//                    1 + 0.04 * 4 + 0.1 * 2 = 1.36
// => 4.08 / 2 = 408 / 200
$landscape_hspace: 0.04;
$landscape_hpadding: 0.04;
$landscape_button_width: 0.1;
// In this scenario, the content is  1 / 1.36 the content = 73.5%
$landscape_content_width: 0.7353;

// In between aspect ratio will be landscape orientation, but width limited
// Same width ratios as above

$landscape_aspect_ratio: "300/242";
$height_limited_landscape_aspect_ratio: "408/200";

:root {
  --tester: 100vw;
  --pres__vw: 100vw;
  --pres__vw1: 100;
  --pres__vh: 100vh;
  --pres__unit: calc(var(--pres__content_width) / 35);
  //
  // --pres__nav_button_width: calc(var(--pres__unit) * 2);
  --pres__text_margin: calc(var(--pres__unit) * 0.8);
  --pres__text_p_space: calc(var(--pres__unit) * 1);
  //
  --pres__button_height: calc(var(--pres__unit) * 1.8);
  //
  --topic__diagram-font-size: var(--pres__unit);
}

@media (min-aspect-ratio: 1/100) {
  :root {
    // --topic__title_space: #{$title_bar_space_high};
    //
    --pres__content_width: calc(var(--pres__vw) * 0.95);
    --pres__content_height: calc(var(--pres__content_width) / #{$diagram_ratio});
    --pres__container_width: var(--pres__content_width);
    //
    --pres__nav_button_height: calc(var(--pres__content_height) * #{$portrait_button_height});
    --pres__vspace: calc(var(--pres__content_height) * #{$portrait_vspace});
    --pres__vpadding: calc(var(--pres__content_height) * #{$portrait_vpadding});
    --pres__container_height: calc(var(--pres__content_height) + var(--pres__vspace) + var(--pres__nav_button_height));
    //
    --pres__nav_button_width: calc(var(--pres__nav_button_height) * 0.7);
  }
}

@media (min-aspect-ratio: $landscape_aspect_ratio) {
  :root {
    //
    --pres__content_width: calc(var(--pres__vw) * #{$landscape_content_width});
    --pres__content_height: calc(var(--pres__content_width) / #{$diagram_ratio});
    --pres__container_width: var(--pres__vw);
    --pres__container_height: var(--pres__content_height);
    //
    --pres__hspace: calc(var(--pres__content_width) * #{$landscape_hspace});
    --pres__hpadding: calc(var(--pres__content_width) * #{$landscape_hpadding});
    --pres__nav_button_width: calc(var(--pres__content_width) * #{$landscape_button_width});
    --pres__nav_button_height: calc(var(--pres__content_width) * #{$landscape_button_width} * 2);
  }
}

@media (min-aspect-ratio: $height_limited_landscape_aspect_ratio) {
  :root {
    --pres__content_height: var(--pres__vh);
    --pres__content_width: calc(var(--pres__content_height) * #{$diagram_ratio});
    --pres__container_width: calc(var(--pres__content_width) * 1.36);
  }
}

@media screen and (min-width: 1400px) {
  :root {
    --pres__vw: 1400px;
  }
}

// The magic offset to make size more consistent accross vw ranges
@media (max-width: 700px) {
  :root {
    --topic__diagram-font-size: calc(var(--pres__unit) * (0.84 + 0.15 * (var(--pres__vw1) - 200)/500));
  }
}

@mixin lesson_vars() {
  @each $var, $value in $_lesson_vars {
    @if type-of($value) == "map" {
      @each $subvar, $subvalue in $value {
        @if type-of($subvalue) == "map" {
          @each $subsubvar, $subsubvalue in $subvalue {
            --lessonvars-#{$var}-#{$subvar}-#{$subsubvar}: #{$subsubvalue};
          }
        }

        @else {
          --lessonvars-#{$var}-#{$subvar}: #{$subvalue};
        }
      }
    }

    @else {
      --lessonvars-#{$var}: #{$value};
    }
  }
}

.lesson__widescreen_backdrop {
  font-size: var(--topic__diagram-font-size);
  background-color: color('presentation', 'background');
  padding-top: var(--pres__vpadding);
  padding-bottom: var(--pres__vpadding);
  border-top: 1px solid color('white', 'light');
  border-bottom: 1px solid color('white', 'light');
}

@media screen and (min-width: 1452px) and (max-aspect-ratio: $height_limited_landscape_aspect_ratio) {
  .lesson__widescreen_backdrop {
    max-width: 1450px;
    border: 1px solid color('white', 'light');
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1452px) and (min-aspect-ratio: $height_limited_landscape_aspect_ratio) {
  .lesson__widescreen_backdrop {
    max-width: calc(var(--pres__container_width) + 50px);
    border: 1px solid color('white', 'light');
    margin-left: auto;
    margin-right: auto;
  }
}

.lesson__container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: var(--pres__container_width);
  height: var(--pres__container_height);
  margin-bottom: 0;
}

.topic__diagram {
  width: var(--pres__content_width);
  height: var(--pres__content_height);
  background-color: color('diagram', 'background');
  // border-radius: calc(var(--pres__unit) * 0.8);
}

@media (min-aspect-ratio: $landscape_aspect_ratio) {
  .topic__diagram {
    display: inline-block;
  }
}

.lesson__font_0p9 {
  font-size: calc(var(--topic__diagram-font-size) * 0.9);
}

.lesson__table {
  border-collapse: separate;
  color: color('diagram', 'text-base');
  margin-left: calc(var(--pres__text_margin) * 1);
  margin-right: calc(var(--pres__text_margin) * 1);
  font-size: calc(var(--topic__diagram-font-size) * 0.8);
}

.lesson__table td {
  padding-left: 2%;
  padding-right: 2%;
}

// ***************************************************************
.lesson__unit_hide {
  font-size: 0;
}

.topic__diagram_text_fade_in {
  // opacity: 1;
  -webkit-animation: fadein 0.3s linear;
  -moz-animation: fadein 0.3s linear;
  animation: fadein 0.3s linear;
  -o-animation: fadein 0.3s linear;
}

.topic__diagram_text {
  margin-left: var(--pres__text_margin);
  margin-right: var(--pres__text_margin);
  margin-top: var(--pres__text_margin);
  height: calc(100% - var(--pres__text_margin) * 2);
  // This stops the topic__diagram_text moving when the paragraph top
  // margin moves
  overflow: hidden;
}

.topic__diagram_text ul {
  margin-left: calc(var(--pres__text_margin) * 2);
  margin-right: calc(var(--pres__text_margin) * 1);
  padding-left: calc(var(--topic__diagram-font-size) * 0.8);
  padding-right: calc(var(--topic__diagram-font-size) * 0.8);
  font-size: calc(var(--topic__diagram-font-size) * 1);
  color: color('diagram', 'text-base');
}

.topic__diagram_text_small {
  font-size: calc(var(--topic__diagram-font-size) * 0.8);
}

.topic__diagram_text p {
  color: color('diagram', 'text-base');
  margin-left: calc(var(--pres__text_margin) * 1);
  margin-right: calc(var(--pres__text_margin) * 1);
  margin-top: var(--pres__text_p_space);
  margin-bottom: 0;
}

.topic__diagram_text_p_top_margin_2 p {
  margin-top: calc(var(--pres__text_p_space) * 2);
}

.topic__diagram_text p:first-child {
  margin-top: calc(var(--pres__text_margin) * 1);
}

// .lesson__p_top_margin_0 {
//   margin-top: 0;
// }

.topic__diagram_text_p_width_50 {
  // width: 50%;
  width: calc((var(--pres__content_width) - var(--pres__text_margin) * 2) * 0.5);
}

.topic__diagram_text_p_width_45 {
  // width: 45%;
  width: calc((var(--pres__content_width) - var(--pres__text_margin) * 2) * 0.45);
}

.topic__diagram_text_p_width_40 {
  // width: 40%;
  width: calc((var(--pres__content_width) - var(--pres__text_margin) * 2) * 0.4);
}

.topic__diagram_text_p_width_55 {
  width: calc((var(--pres__content_width) - var(--pres__text_margin) * 2) * 0.55);
}

.topic__diagram_text_p_width_60 {
  width: calc((var(--pres__content_width) - var(--pres__text_margin) * 2) * 0.6);
}

.topic__diagram_text_p_width_70 {
  width: calc((var(--pres__content_width) - var(--pres__text_margin) * 2) * 0.7);
}

.topic__diagram_text_p_width_80 {
  width: calc((var(--pres__content_width) - var(--pres__text_margin) * 2) * 0.8);
}

.topic__diagram_text_p_right {
  float: right;
}

.lesson__equation_border {
  border: 1px solid color('diagram', 'equation-border');
}

@-webkit-keyframes fadein {
  0% { -webkit-opacity: 0; }
  100% { -webkit-opacity: 1; }
}

@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.topic__diagram_text_fade_out {
  opacity: 0;
  -webkit-animation: fadeout 0.3s linear;
  -moz-animation: fadeout 0.3s linear;
  animation: fadeout 0.3s linear;
  -o-animation: fadeout 0.3s linear;
}

@-webkit-keyframes fadeout {
  0% { -webkit-opacity: 1; }
  100% { -webkit-opacity: 0; }
}

@keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@import './lesson/presentation/navigationButtons';
@import './lesson/presentation/gotoButton';
@import './lesson/presentation/interactiveItemButton';
@import './lesson/presentation/infoBox';
@import './lesson/presentation/note';
@import './lesson/selector';
@import './lesson/definition';
@import './lesson/quizCheck';
@import './lesson/star';
@import './lesson/equationNavigator';
