$qrWidth: 0.9;
$qrHeight: 0.9;

:root {
  --lesson__qr_width: calc(var(--lesson__content-width) * #{$qrWidth});
  --lesson__qr_height: calc(var(--lesson__content-height) * #{$qrHeight});
  --lesson__qr_top: calc(50vh - var(--lesson__content-height) * #{$qrHeight} / 2);
}

.lesson__qr__overlay .lesson__popup_box__content {
  height: calc(var(--lesson__qr_height) * 0.8);
  overflow: scroll;
}

.lesson__qr_container {
  width: var(--lesson__qr_width);
  height: var(--lesson__qr_height);
  top: var(--lesson__qr_top);
}

.lesson__qr__overlay #id_qr_diagram {
  width: 100%;
  height: 100%;
}

.lesson__qr__overlay .diagram__html {
  pointer-events: auto;
  width: 100%;
  height: 100%;
}

.lesson__qr__overlay .diagram__gl {
  width: 100%;
  height: 100%;
}

.lesson__qr__overlay .diagram__text {
  width: 100%;
  height: 100%;
}

.lesson__qr__overlay .lesson__popup_box {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.lesson__qr__overlay .lesson__popup_box__text {
  font-size: calc(var(--lesson__diagram-font-size) * 1);
  display: table-cell;
  vertical-align: middle;
}

.lesson__qr__overlay .lesson__popup_box__text_container {
  display: table;
  overflow: scroll;
}
