$qrWidth: 0.8;
$qrHeight: 0.8;

// @media (max-aspect-ratio: 1) and (max-width: 600px) {
:root {
  --topic__qr_width: calc(var(--pres__content_width) * #{$qrWidth});
  --topic__qr_height: calc(var(--pres__content_height) * #{$qrHeight});
  --topic__qr_top: calc(50vh - var(--pres__content_height) * #{$qrHeight} / 2);
}

// @media (max-width: 600px) {
//   :root {
//     --topic__qr_height: calc(var(--pres__content_height) * #{$qrHeight} * 1.5);
//     --topic__qr_top: calc(50vh - var(--pres__content_height) * #{$qrHeight} / 2 * 1.5);
//   }
// }

// @media (max-width: 400px) {
//   :root {
//     --topic__qr_height: calc(var(--pres__content_height) * #{$qrHeight} * 2);
//     --topic__qr_top: calc(50vh - var(--pres__content_height) * #{$qrHeight} / 2 * 2);
//   }
// }

.topic__qr__overlay .topic__popup_box__content {
  height: calc(var(--topic__qr_height) * 0.8);
  overflow-y: scroll;
  float: left;
}

.topic__qr_container {
  width: var(--topic__qr_width);
  height: var(--topic__qr_height);
  top: var(--topic__qr_top);
}

.topic__qr__overlay #id_qr_diagram {
  width: 100%;
  height: 100%;
}

.topic__qr__overlay .figureone__html {
  pointer-events: auto;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.topic__qr__overlay .figureone__gl {
  width: 100%;
  height: 100%;
  z-index: 1;
}

.topic__qr__overlay .figureone__text {
  width: 100%;
  height: 100%;
  z-index: 2;
}

.topic__qr__overlay .topic__popup_box {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: colors('qr', 'background');
}

.topic__qr__overlay .topic__popup_box__text {
  font-size: calc(var(--topic__qr_width) / 35);
  display: table-cell;
  vertical-align: middle;
}

.topic__qr__overlay .topic__popup_box__centering_text_container {
  display: table;
  height: 100%;
  width: 100%;
}

.topic__qr__overlay .topic__popup_box__text_container {
  overflow-y: scroll;
  display: inline-block;
}

.topic__qr__overlay .topic__popup_box__title_text {
  // font-size: calc(var(--topic__diagram-font-size) * 0.9);
  font-size: calc(var(--topic__qr_width) / 35 * 1.2);
  margin-top: 0;
}

.topic__qr__overlay .topic__popup_box__link {
  // font-size: calc(var(--topic__diagram-font-size) * 0.6);
  font-size: calc(var(--topic__qr_width) / 35 * 0.8);
}

// .topic__qr__overlay .topic__popup_box__title_text {
//   margin-top: 0;
// }

// .topic__qr__overlay .topic__popup_box__title {
//   font-size: calc(var(--topic__diagram-font-size) * 0.9);
// }
