.lesson__qr__pop_up {
  // 600px content
  // 1em padding left/right
  max-width: calc(600px + 1em);
  // 400px content
  // 2.5em title + padding
  // 2.5em link + padding
  // 1em padding top/bottom
  max-height: calc(400px + 6em);
  font-size: initial;
  z-index: 10;
  position: absolute;
  background-color: color('white');
  padding: 0.5em;
  border: 1px solid color('white', 'lightest');
  border-radius: 0.4em;
}

// ///////////////////////////////////////
// Title
// ///////////////////////////////////////
.lesson__qr__title {
  display: table;
  width: 100%;
  padding-bottom: 0.5em;
  height: 2em;
}

.lesson__qr__title_text {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  color: color('white', 'darker');
  font-size: 1em;
  padding-right: 1em;
  padding-left: 1em;
}

.lesson__qr__title_close {
  display: table-cell;
  color: color('white', 'light');
  width: 2em;
  border: 1px solid color('white', 'lighter');
  height: 2em;
  text-align: center;
  vertical-align: middle;
  border-radius: 1em;
  font-weight: 100;
}

.lesson__qr__title_close:hover {
  background-color: color('white', 'lightest');
  cursor: pointer;
}

// ///////////////////////////////////////
// Content
// ///////////////////////////////////////
.lesson__qr__content_container {
  overflow-y: scroll;
  max-height: 400px;
  max-width: 600px;
  background-color: color('white', 'lightest');
}

.lesson__qr__content {
  padding: 0.8em;
  width: 100%;
  height: 100%;
}

#id_lesson__qr__content_pres .lesson__qr__content {
  padding: 0;
}

// ///////////////////////////////////////
// Link
// ///////////////////////////////////////
.lesson__qr__link_container {
  text-align: center;
  padding-top: 0.5em;
  height: 2em;
}

.lesson__qr__link_link {
  font-size: 0.8em;
  color: color('white', 'darker');
}

.lesson__qr__link_link:hover {
  text-decoration: none;
}

// ///////////////////////////////////////
// Presentation QR specific
// ///////////////////////////////////////
:root {
  --lesson__qr__content_width: calc(100vw - 80px - 1em);
  --lesson__qr__content_height: calc((100vw - 80px - 1em) / 1.5);
}

#id_lesson__qr__content_pres__overlay {
  position: relative;
  pointer-events: auto;
  font-size: initial;
  z-index: 1;
  width: var(--lesson__qr__content_width);
  // max-width: 100%;
  height: var(--lesson__qr__content_height);
  // max-height: 100%;
  margin-left: auto;
  margin-right: auto;
}

// ///////////////////////////////////////
// Static QR specific
// ///////////////////////////////////////
#id_lesson__qr__content_static {
  margin-right: 20px;
}
