:root {
  --topic__qr__content_width: calc(100vw - 80px - 1em);
  --topic__qr__content_height: calc((100vw - 80px - 1em) / 1.5);
}

.topic__qr {
  width: 100%;
  height: 100%;
  // // 600px content
  // // 1em padding left/right
  // max-width: calc(600px + 1em);
  // // 400px content
  // // 2.5em title + padding
  // // 2.5em link + padding
  // // 1em padding top/bottom
  // max-height: calc(400px + 6em);
  // font-size: initial;
  // z-index: 10;
  // position: absolute;
  // padding: 0.5em;
  // border-radius: 0.4em;
}

.topic__qr img {
  max-width: 100%;
  max-height: 100%;
  transform: translate(-50%, 0%);
  left: 50%;
  position: relative;
}

.topic__qr__container {
  // 600px content
  // 1em padding left/right
  max-width: calc(600px + 1em);
  // 400px content
  // 2.5em title + padding
  // 2.5em link + padding
  // 1em padding top/bottom
  box-shadow: 0 0 20px var(--color-qr-simple-shaddow);
  max-height: calc(400px + 6em);
  font-size: initial;
  z-index: 10;
  position: absolute;
  background-color: var(--color-qr-simple-background);
  padding: 0.5em;
  border-radius: 0.2em;
  margin-right: 1em;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                      supported by Chrome and Opera */
}

// .id_topic__qr__static_container {
//   position: absolute;
//   margin-right: 20px;
// }

// .id_topic__qr__pres_container {
//   position: absolute;
//   // margin-right: 20px;
// }

// ///////////////////////////////////////
// Title
// ///////////////////////////////////////
.topic__qr__title {
  display: table;
  width: 100%;
  padding-bottom: 0.5em;
  height: 2em;
}

.topic__qr__title_text {
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  font-size: 1.2em;
  padding-right: 1em;
  padding-left: 0.4em;
  font-weight: 200;
  color: var(--color-qr-simple-title);
}

@media screen and (max-width: 600px) {
  .topic__qr__title_text {
    font-size: 1em;
  }
}

.topic__qr__title_close__container {
  display: table;
  height: 100%;
  float: right;
}

.topic__qr__title_close__cell {
  display: table-cell;
  vertical-align: middle;
}

.topic__qr__title_close {
  display: table-cell;
  color: var(--color-qr-simple-close-text);
  width: 2em;
  border: solid 1px var(--color-qr-simple-close-border);
  background-color: var(--color-qr-simple-close-background);
  height: 2em;
  text-align: center;
  vertical-align: middle;
  border-radius: 1em;
  font-weight: 100;
}

.topic__qr__title_close:hover {
  color: var(--color-qr-simple-close-hover-text);
  border: solid 1px var(--color-qr-simple-close-hover-border);
  background-color: var(--color-qr-simple-close-hover-background);
  cursor: pointer;
}

// ///////////////////////////////////////
// Content
// ///////////////////////////////////////
.topic__qr__content_container {
  overflow-y: scroll;
  max-height: 400px;
  max-width: 600px;
  background-color: var(--color-qr-simple-content-background);
  border: 1px solid var(--color-qr-simple-content-border);
}

.topic__qr__content {
  padding: 0.8em;
  width: 100%;
  height: 100%;
}

.topic__qr__content p:last-child {
  margin-bottom: 0;
}

#id_topic__qr__content_pres {
  pointer-events: auto;
}

#id_topic__qr__content_pres .topic__qr__content {
  padding: 0;
}

#id_topic__qr__content_pres .topic__qr__content_container {
  overflow-y: hidden;
}

// ///////////////////////////////////////
// Link
// ///////////////////////////////////////
.topic__qr__link_container {
  text-align: center;
  padding-top: 0.5em;
  height: 2em;
}

.topic__qr__link_link {
  font-size: 0.8em;
  color: var(--color-qr-simple-link);
  text-decoration: underline;
}

.topic__qr__link_link:hover {
  // text-decoration: none;
  text-decoration: underline;
}

// ///////////////////////////////////////
// Presentation QR specific
// ///////////////////////////////////////
#topic__content_diagram .topic__qr__container {
  background-color: var(--color-qr-presentation-background);
  padding: 0.5em;
  border: 1px solid var(--color-qr-presentation-border);
  box-shadow: 0 0 3em var(--color-qr-presentation-shaddow);
}

#topic__content_diagram .topic__qr__title_text {
  color: var(--color-qr-presentation-title);
}

#topic__content_diagram .topic__qr__title_close {
  color: var(--color-qr-presentation-close-text);
  border: solid 1px var(--color-qr-presentation-close-border);
  background-color: var(--color-qr-presentation-close-background);
}

#topic__content_diagram .topic__qr__title_close:hover {
  color: var(--color-qr-presentation-close-hover-text);
  border: solid 1px var(--color-qr-presentation-close-hover-border);
  background-color: var(--color-qr-presentation-close-hover-background);
}

#id_topic__qr__pres_container .topic__qr__content_container {
  border: 0;
}

#topic__content_diagram .topic__qr__link_link {
  color: var(--color-qr-presentation-link);
}

#id_topic__qr__content_pres__overlay {
  position: relative;
  pointer-events: auto;
  font-size: initial;
  z-index: 1;
  width: var(--topic__qr__content_width);
  height: var(--topic__qr__content_height);
  margin-left: auto;
  margin-right: auto;
}

#id_qr_diagram {
  width: 100%;
  height: 100%;
  color: var(--color-diagram-text);
}

.topic__qr_description_container {
  padding: 1em;
  display: table;
}

#id_topic__qr_diagram_container {
  display: inline-block;
  width: 50%;
  height: 50%;
}

.topic__qr_description_table_cell {
  display: table-cell;
  vertical-align: middle;
}

.topic__qr_description_relative {
  position: relative;
  overflow-y: scroll;
  max-height: 100%;
}

.topic__qr_description_text {
  text-align: left;
}

#topic__content_diagram #id_topic__qr__pres_container {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  margin: 0;
}

// ///////////////////////////////////////
// Static QR specific
// ///////////////////////////////////////
#id_topic__qr__content_static {
  // margin-right: 20px;
  pointer-events: auto;
}

#topic__content_diagram .topic__qr__content_container {
  max-width: var(--topic__qr__content_width);
  max-height: var(--topic__qr__content_height);
}

#topic__content_diagram #id_topic__qr__static_container {
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  margin: 0;
}
