.rating__container {
  text-align: center;
  color: color('grey', 'base');
  font-weight: 100;
  padding-bottom: 12px;
  font-size: 0.9em;
}

.rating__label {
  display: inline-block;
  margin-right: 10px;
}

.rating__stars {
  display: inline-block;
  color: color('grey', 'lighter');
}
