.rating__container {
  text-align: center;
  color: var(--color-topic-subtitle-text);
  font-weight: 100;
  padding-bottom: 1em;
  font-size: 0.9em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  // padding-top: 0.5em;
  background: var(--color-topic-background);
}

.approach__links_table__your_rating .rating__container {
  display: table;
}

.rating__label {
  display: inline-block;
  margin-right: 10px;
}

.rating__stars {
  display: inline-block;
  position: relative;
}

.rating__stars_table {
  display: table;
}

.rating__stars_star {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  width: 1.5em;
  height: 1.2em;
  position: relative;
  padding-left: 0.15em;
  padding-right: 0.15em;
}

.rating__stars_star_active:hover {
  cursor: pointer;
}

.rating__stars_full {
  background-image: $star-full;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.rating__stars_empty {
  background-image: $star-empty;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.rating__stars_link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.rating__login {
  color: var(--color-site-primary-dark);
}

.rating__login:hover {
  cursor: pointer;
}
