@import './style.scss';

.simple_topic__container {
  // padding: 1em;
  // margin-left: 1em;
  // margin-right: 1em;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: var(--color-topic-background);
  color: var(--color-topic-text);
  position: relative;
  border-bottom: 1px solid var(--color-topic-border);
}

.simple_topic__inner_container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
}

// @media screen and (min-width: 700px) {
//   .simple_topic__container {
//     // margin-left: 1em;
//     // margin-right: 1em;
//   }
// }

@media screen and (min-width: 1100px) {
  .simple_topic__container {
    margin-left: auto;
    margin-right: auto;
  }
}

.simple_topic__container img {
  max-width: 100%;
  // margin-left: 50%;
  // transform: translate(-50%);
  display: block;
  margin: 0 auto;
}

.simple_topic__container svg {
  max-width: 100%;
}

.topic__qr img {
  margin-left: 0;
}

h3 {
  margin-top: 3em;
  font-weight: 300;
  font-size: 1.3em;
  padding: 0.3em;
  margin-bottom: 0.5em;
  padding-left: 0;
  padding-bottom: 0.1em;
  // width: calc(100% + 1.5em);
  // transform: translate(-0.75em, 0);
  // padding-left: 0.75em;
  border-bottom: 1px solid var(--color-topic-border);
}

@media screen and (max-width: 700px) {
  // h2 {
  //   font-weight: 300;
  //   font-size: 1.2em;
  //   text-align: center;
  //   margin-top: 0.5em;
  // }

  h3 {
    margin-top: 1.5em;
  }
}

@media screen and (max-width: 400px) {
  .simple_topic__container {
    padding-left: 1em;
    padding-right: 1em;
  }
}

h3:first-of-type {
  margin-top: 1em;
}

.simple_topic__quiz_instructions {
  color: var(--color-topic-text);
  // text-align: center;
  font-size: 0.8em;
}

// ///////////////////////////////////////////////////////
// QUIZ Multiple Choice
// ///////////////////////////////////////////////////////

.topic__multiple_choice input {
  // margin-top: 1em;
  margin-right: 0.6em;
  margin-left: 0.5em;
  -ms-transform: translateY(-0.1em);
  -webkit-transform: translateY(-0.1em);
  transform: translateY(-0.1em);
  // vertical-align: middle;
}

.approach__quiz_selection {
  display: table;
  margin-top: 1em;
}

.approach__quiz__submit {
  display: table;
  margin-top: 1em;
}

.approach__quiz__radio_button {
  display: table-cell;
  vertical-align: middle;
}

.approach__quiz__submit_button {
  display: table-cell;
  vertical-align: middle;
  background: none;
  border: solid 1px var(--color-button-border);
  font-weight: 200;
  font-size: 1em;
  padding: 0.3em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 0.4em;
  color: var(--color-button-text);
  background-color: var(--color-button-background);
}

.approach__quiz__submit_button:hover {
  background-color: var(--color-button-hover-background);
  border: solid 1px var(--color-button-hover-border);
  color: var(--color-button-hover-text);
}

.approach__quiz__mark,
.approach__quiz__radio_mark,
.approach__quiz__submit_mark {
  display: table-cell;
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
  background-repeat: no-repeat;
  background-position: center;
}

.approach__quiz__result_correct {
  background-image: $correct;
}

.approach__quiz__result_incorrect {
  background-image: $incorrect;
}

// ///////////////////////////////////////////////////////
// QUIZ Entry
// ///////////////////////////////////////////////////////
.approach__quiz_entry {
  margin-top: 1em;
  display: table;
}

// .approach__quiz_entry_container {
//   display: table;
// }

.approach__quiz_entry_label {
  display: table-cell;
  vertical-align: middle;
}

.approach__quiz_entry_input {
  display: table-cell;
  vertical-align: middle;
  padding-left: 0.5em;
  padding-right: 0.8em;
}

.approach__quiz_entry_input input {
  border: 1px solid var(--color-site-input-border);
  padding: 0.15em;
  width: 4em;
  text-align: right;
  padding-right: 0.2em;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

// .approach__quiz__entry_submit {
//   // margin-top: 0.5em;
// }

.approach__quiz__answer {
  display: none;
}

// ///////////////////////////////////////////////////////
// Hints
// ///////////////////////////////////////////////////////
// .simple__hint {
//   padding-bottom: 1em;
// }

.simple__hint_label_low,
.simple__hint_label {
  display: inline-block;
  margin-right: 0.5em;
  color: green;
  font-weight: 800;
}

.simple__hint_label_low {
  display: block;
}

.simple__hint_label_low,
.simple__hint_label:hover {
  cursor: pointer;
}

.simple__hint_contents {
  display: inline-block;
  border: 1px solid var(--color-topic-border);
  padding: 0.3em;
}

.simple__hint_contents_low {
  display: block;
  border: 1px solid var(--color-topic-border);
  padding: 0.3em;
}

.simple__hint_hidden {
  display: none;
}
