.single_page_lesson__container {
  padding: 20px;
  margin-left: 20px;
  margin-right: 20px;
  background-color: color('white', 'lightest');
  color: color('grey', 'darkest');
  // position: relative;
}

.single_page_lesson__header1 {
  padding-top: 0.6em;
  padding-bottom: 0.2em;
  font-size: 1.6em;
  font-weight: 500;
}

.single_page_lesson__container .single_page_lesson__header1:first-child {
  padding-top: 0;
}

.single_page_lesson__header2 {
  padding-top: 0.6em;
  padding-bottom: 0.2em;
  font-size: 1.2em;
  font-weight: 700;
}

.single_page_lesson__diagram_container {
  // position: absolute;
  // width: 100%;
  // height: 100%;
  // width: 500px;
  // height: 1000px;
  position: absolute;
  width: 100%;
  height: 150%;
  left: 0;
  top: 0;
  margin-left: 0;
}

#id_diagram__text__high {
  width: 10px;
  height: 10px;
}

#id_diagram__text__low {
  width: 100%;
  height: 100%;
}

.single_page_lesson__container .diagram__html {
  pointer-events: none;
  touch-action: auto;
}

.single_page_lesson__container .highlight_word {
  color: color('diagram', 'text-keyword', 'dark');
}

.single_page_lesson__text_container {
  position: static;
}

.single_page_lesson__container .lesson__diagram {
  max-width: none;
  max-height: none;
}
