@import './style.scss';

// #single-page-content #topic__content_diagram {
//   position: absolute;
//   width: 100%;
//   height: 150%;
//   left: 0;
//   top: 0;
//   margin-left: 0;
// }

.single_page_topic__container .highlight_word {
  // color: #0067D6;
  color: var(--color-site-primary-dark);
  // font-style: italic;
}

.single_page_topic__container {
  // padding: 20px;
  // margin-left: 20px;
  // margin-right: 20px;
  color: var(--color-topic-text);
  // color: white;
  background-color: var(--color-topic-background);
  border-bottom: 1px solid var(--color-topic-border);
  // position: relative;
  // max-width: 1100px;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.single_page_topic__inner_container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2em;
}

@media screen and (min-width: 400px) {
  .single_page_topic__container {
    padding-left: 2em;
    padding-right: 2em;
  }
}

@media screen and (min-width: 1100px) {
  .single_page_topic__container {
    margin-left: auto;
    margin-right: auto;
  }
}

// .single_page_topic__container .topic__diagram {
//   background-color: none;
// }

.single_page_topic__header1 {
  padding-top: 0.6em;
  padding-bottom: 0.2em;
  font-size: 1.6em;
  font-weight: 500;
}

.single_page_topic__container .single_page_topic__header1:first-child {
  padding-top: 0;
}

.single_page_topic__header2 {
  padding-top: 0.6em;
  padding-bottom: 0.2em;
  font-size: 1.2em;
  font-weight: 700;
}

.single_page_topic__diagram_container {
  // position: absolute;
  // width: 100%;
  // height: 100%;
  // width: 500px;
  // height: 1000px;
  position: absolute;
  width: 100%;
  height: 150%;
  left: 0;
  top: 0;
  margin-left: 0;
}

// #id_diagram__text__high {
//   width: 10px;
//   height: 10px;
// }

#id_diagram__text__low {
  width: 100%;
  height: 100%;
}

.single_page_topic__container .diagram__html {
  pointer-events: none;
  // touch-action: auto;
}

.single_page_topic__text_container {
  position: relative;
  // padding: 20px;
  // margin-left: 20px;
  // margin-right: 20px;
}

.single_page_topic__text_container_text {
  position: static;
}

.single_page_topic__container #topic__content_diagram {
  max-width: none;
  max-height: none;
  background-color: transparent;
}

.single_page_topic__figure_container {
  position: relative;
  overflow: hidden;
  height: auto;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.single_page_topic__figure {
  // position: relative;
  // overflow: hidden;
  height: 0;
  width: 100%;
  padding-top: 50%;
}

.single_page_topic__figure_image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#hidden_offscreen {
  top: -10000px;
  position: absolute;
  width: 100px;
  height: 100px;
}

#topic__qr__diagram__singlePage {
  position: absolute;
  width: 100%;
  height: 100%;
}

#single_page_topic__qr__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: auto;
  z-index: -1;
}

#single_page_topic__qr__overlay #topic__qr__container {
  position: relative;
  width: var(--topic__qr_width);
  height: var(--topic__qr_height);
  top: calc(50% - var(--topic__qr_height) / 2);
  // left: calc(50% - var(--topic__qr_width) / 2);
  pointer-events: none;
  margin-left: auto;
  margin-right: auto;
}

#single_page_topic__qr__overlay .diagram__html {
  pointer-events: auto;
  width: 100%;
  height: 100%;
}
