$title-height: 40px;
$title-width: 350px;

.topic__title_bar {
  position: relative;
  // display: table;
  // height: var(--topic__title_space);
  text-align: center;
  width: 100%;
  background-color: color('lesson', 'title-background');
}

// .topic__title_bar_force_low {
//   height: $title_bar_space_low;
// }

// .topic__title_bar_force_high {
//   height: $title_bar_space_high;
// }
// @media screen and (min-width: $tablet) {
//   .topic__title_bar {
//     height: 90px;
//   }
// }

.topic__title_container {
  padding-top: 2em;
  padding-bottom: 1.5em;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  // position: absolute;
  // left: calc(50% - #{$title-width} / 2);
  // top: calc(var(--topic__title_space) / 3 - #{$title-height} / 2);
  // width: $title-width;
  // height: $title-height;
  font-size: var(--navigator__tile_font_size);
  z-index: 0;
}

// .topic__title_bar_force_low .topic__title_container {
//   top: calc(#{$title_bar_space_low} / 2 - #{$title-height} / 2);
// }

// .topic__title_bar_force_high .topic__title_container {
//   top: calc(#{$title_bar_space_high} / 3 - #{$title-height} / 2);
// }

.topic__title_centering_container {
  width: initial;
  display: table;
  margin-left: auto;
  margin-right: auto;
}

.topic__title_img_container {
  display: table-cell;
  vertical-align: middle;
}

.topic__title_image {
  // float: left;
  height: $title-height;
  width: $title-height;
}

.topic__title_text_container {
  display: table-cell;
  height: 100%;
  vertical-align: middle;
}

@media screen and (max-width: 400px) {
  .topic__title_img_container {
    display: inline-block;
  }

  .topic__title_text_container {
    display: inline-block;
  }
}

.topic__title_text {
  // width: min-content;
}

.topic__title_text h1 {
  display: table-cell;
  font-size: 30px;
  font-weight: 300;
  padding-left: 10px;
  // color: color('black', 'lighter');
  // text-align: left;
}

.topic__title_bar h2 {
  font-weight: 300;
  font-size: 1.6em;
  text-align: center;
  margin-top: 0.4em;
  margin-bottom: 0;
}

// @media screen and (max-width: 700px) {
//   .topic__title_bar h2 {
//     font-weight: 300;
//     font-size: 1.2em;
//     text-align: center;
//     margin-top: 0.5em;
//   }
// }

// .topic__title_text h1 {
//   font-size: 30px;
// }

// @media screen and (max-width: 700px) {
//   .topic__title_bar h1 {
//     font-size: 26px;
//   }

//   .topic__title_bar h2 {
//     font-size: 22px;
//   }
// }

@media screen and (max-width: 400px) {
  .topic__title_bar h1 {
    font-size: 20px;
  }

  .topic__title_bar h2 {
    font-size: 18px;
  }
}

.topic__version_title__container {
  padding-left: 1em;
  padding-right: 1em;
  background-color: color('presentation', 'background');
  border-top: 1px solid color('white', 'light');
  padding-top: 1em;
}
