.topic_button__listItem {
  // max-width: 300px;
  width: calc(100vw - 2em);
  table-layout: fixed;
  margin-top: 0.1em;
  margin-bottom: 0.1em;
  min-height: 4em;
}

@media screen and (min-width: 350px) {
  .topic_button__listItem {
    width: 300px;
  }
}

.topic_button .dropdown_button_list_item {
  padding: 0.2em 0.2em 0.2em 0.2em;
  min-height: 4em;
}

.topic_button .dropdown_button_list_item_separator {
  background-color: var(--color-menu-disabled-background);
  color: var(--color-menu-disabled-text);
  border-bottom: 1px solid var(--color-menu-separator);
  border-top: 1px solid var(--color-menu-separator);
  min-height: 1em;
}

.topic_button .dropdown_button_list_item:first-child {
  color: var(--color-menu-disabled-text);
  background-color: var(--color-menu-disabled-background);
  border-bottom: 1px solid var(--color-menu-separator);
  min-height: 1em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
}

.topic_button__label {
  vertical-align: middle;
  text-align: left;
  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
}

.topic_button__label_description {
  font-size: 0.8em;
  // opacity: 0.6;
}

.topic_button__rating {
  vertical-align: middle;
  width: 5em;
  white-space: pre-wrap;      /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap;     /* Opera <7 */
  white-space: -o-pre-wrap;   /* Opera 7 */
  word-wrap: break-word;      /* IE */
}

.topic_button__rating_value {
  font-size: 0.8em;
  text-align: center;
}

.topic_button__rating_num_reviews {
  font-size: 0.8em;
  text-align: center;
}

.topic_button_listItem_title {
  min-height: 1em;
}

// .topic_button_listItem_title .topic_button__rating {
//   width: 5em;
// }

// .topic_button__single_item {
//   width: 100%;
//   height: 100%;
//   display: table;
//   border-radius: $radius;
//   border: 1px solid color('white', 'lighter');
//   color: #929292;
// }

.topic_button__label_title {
  font-size: 0.8em;
  margin-left: 0.8em;
}

.topic_button__label_text {
  margin-left: 0;
}

.topic_button__single_item_label {
  vertical-align: middle;
  display: table-cell;
  text-decoration: none;
  color: var(--color-button-text);
}

.topic_button__single_item_label:hover {
  text-decoration: none;
  color: var(--color-button-hover-text);
}

.dropdown_button_selected .topic_button__single_item_label {
  color: var(--color-button-select-text);
}

.topic_button__type {
  text-align: center;
  vertical-align: middle;
  width: 3.5em;
}

.topic_button__type_icon_presentation {
  background-image: $topic-presentation;
  background-size: contain;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.dropdown_button_list_item_active .topic_button__type_icon_presentation {
  background-image: $topic-presentation-active;
}

.topic_button__type_icon_generic,
.topic_button__type_icon_singlePage {
  background-image: $topic-singlePage;
  background-size: contain;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.dropdown_button_list_item_active .topic_button__type_icon_generic,
.dropdown_button_list_item_active .topic_button__type_icon_singlePage {
  background-image: $topic-singlePage-active;
}

.topic_button__type_icon_video {
  background-image: $topic-video;
  background-size: contain;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.dropdown_button_list_item_active .topic_button__type_icon_video {
  background-image: $topic-video-active;
}

.topic_button__portion_separator {
  height: 1em;
  display: table;
  // margin-left: 1.2em;
  width: 100%;
  text-align: center;
}

.topic_button__portion_separator_label {
  vertical-align: middle;
  display: table-cell;
  font-size: 1em;
}
