@import '../../../../../../css/color';

$colors: (
  qrAngleGroupings_lines:              color('blue'),
  qrAngleGroupings_angleA:             color('red'),
  qrAngleGroupings_angleB:             color('green'),
  qrAngleGroupings_angleC:             color('yellow'),
);

body {
  @include color_vars($colors);
}

// .diagram__text {
//   z-index: 0;
// }
