@import '../../../geometry';

$colors: (
  circle:               color('red', 'dark'),
  radius:               color('blue', 'dark'),
  diameter:             color('green', 'dark'),
  center:               color('yellow'),
);

body {
  @include color_vars($colors);
}
