@import '../../../geometry';

$colors: (
  circle:               color('red', 'dark'),
  radius:               color('blue', 'dark'),
  diameter:             color('green', 'dark'),
  center:               color('yellow'),
  grid:                 color('grey', 'dark'),
  circleFill:           color('blue', 'light'),
  property:             color('red'),
);

body {
  @include color_vars($colors);
}
