// .diagram__text {
//   z-index: 0;
// }

.presentation__note {
  top: 87%;
}

.angle_table_hide {
  display: none;
}

table {
  border-collapse: collapse;
  table-layout: fixed;
  margin-left: 60%;
  // margin-right: auto;
  font-size: 0.6em;
  text-align: center;
  color: #fdf1aa;
  color: var(--color-diagram-text);
  // border: 1px solid #444;
  // border: 1px solid var(--color-diagram-disabled);
}

th {
  font-size: 1.2em;
  padding-top: 1em;
  border-bottom: 1px solid var(--color-diagram-text);
}

td:first-child {
  width: 5em;
}

td:nth-child(2) {
  width: 9em;
}

// th:first-child,
// td:first-child {
//   // color: var(--color-angles);
//   // padding-left: 3em;
// }

th:first-child {
  color: var(--color-angles);
}

// th:nth-child(2),
// td:nth-child(2) {
//   // color: var(--color-components);
//   // padding-right: 3em;
// }

th:nth-child(2) {
  color: var(--color-diagram-text-base);
  font-family: 'Times New Roman', Times, serif;
  font-style: italic;
}

#angle_text {
  color: var(--color-angles);
}

// th:last-child {
//   color: var(--color-components);
//   padding-bottom: 1em;
// }

#id_computer_note {
  font-style: italic;
}
