@import '../../../../../../css/color';

$colors: (
  qrAngleGroups_lines:              color('blue'),
  qrAngleGroups_angleA:             color('red'),
  qrAngleGroups_angleB:             color('green'),
  qrAngleGroups_angleC:             color('yellow'),
);

body {
  @include color_vars($colors);
}

// .diagram__text {
//   z-index: 0;
// }
