.diagram__definition_container {
  color: color('diagram', 'text-definition');
  position: absolute;
  top: 90%;
  left: 7%;
  font-size: calc(var(--topic__diagram-font-size) * 0.7);
}

.diagram__definition_high {
  top: 85%;
  left: 7%;
}

.diagram__definition_higher {
  top: 80%;
  left: 7%;
}

.diagram__definition_highest {
  top: 75%;
  left: 7%;
}

.diagram__definition_word {
  color: color('diagram', 'text-base');
  padding-right: calc(var(--topic__diagram-font-size) * 0.15);
}

.diagram__definition_root {
  // color: color('diagram', 'text-latin');
  font-family: times new roman, serif;
  font-style: italic;
  padding-left: calc(var(--topic__diagram-font-size) * 0.15);
}

.diagram__definition_meaning {
  color: color('diagram', 'text-base');
}
