$path_tile_height: 35px;

.topic__approach_container {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.topic__approach_mid_tiles {
  display: inline-block;
  margin-bottom: 0.8em;
}

.topic__approach_tile {
  min-width: $path_tile_height;
  width: 110px;
  height: $path_tile_height;
  border-radius: 0.6em;
  font-size: calc(#{$path_tile_height} * 0.35);
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.topic__approach_tile .dropdown_button_container {
  border: solid 1px var(--color-site-button-border);
}

.topic__approach_tile .dropdown_button_selected {
  border: 0;
}

@media screen and (min-width: $tablet) {
  .topic__approach_container {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 0.7em;
  }
}

// .topic__approach_tile:hover {
//   background-color: color('white', 'lightest');
//   text-decoration: none;
//   cursor: pointer;
// }

// .topic__approach_tile_disabled {
//   background-color: color('site', 'disabled', 'lighter');
// }

// .topic__approach_tile_disabled:hover {
//   background-color: color('site', 'disabled', 'light');
//   text-decoration: none;
// }

// .topic__approach_tile_selected {
//   background-color: color('white', 'lightest');
// }

// .topic__approach_tile_selected:hover {
//   background-color: color('white', 'lighter');
//   text-decoration: none;
// }
