$path_tile_height: 35px;

.topic__approach_container {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.topic__approach_mid_tiles {
  display: inline-block;
  margin-bottom: 0.8em;
}

.topic__approach_tile {
  min-width: $path_tile_height;
  width: 110px;
  height: $path_tile_height;
  border-radius: 0.6em;
  font-size: calc(#{$path_tile_height} * 0.35);
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.topic__approach_tile .dropdown_button_container {
  background-color: #ddd;
  background-color: var(--color-button-background);
  border: 1px solid #ddd;
  border: 1px solid var(--color-button-border);
  color: #555;
  color: var(--color-button-text);
}

.topic__approach_tile .dropdown_button_container:hover {
  background-color: #ccc;
  background-color: var(--color-button-hover-background);
  border: 1px solid #ccc;
  border: 1px solid var(--color-button-hover-border);
  color: #555;
  color: var(--color-button-hover-text);
}

.topic__approach_tile .dropdown_button_selected {
  background-color: #0070eb;
  background-color: var(--color-button-select-background);
  border: 1px solid #0070eb;
  border: 1px solid var(--color-button-select-border);
  color: #fff;
  color: var(--color-button-select-text);
}

.topic__approach_tile .dropdown_button_selected:hover {
  background-color: #0070eb;
  background-color: var(--color-button-select-hover-background);
  border: 1px solid #0070eb;
  border: 1px solid var(--color-button-select-hover-border);
  color: #fff;
  color: var(--color-button-select-hover-text);
}

@media screen and (min-width: $tablet) {
  .topic__approach_container {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 0.7em;
  }
}
