$path_tile_height: 35px;

.topic__approach_container {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.topic__approach_mid_tiles {
  display: inline-block;
  margin-bottom: 0.8em;
}

.topic__approach_tile {
  min-width: $path_tile_height;
  width: 110px;
  height: $path_tile_height;
  border-radius: 0.6em;
  font-size: calc(#{$path_tile_height} * 0.35);
  display: inline-block;
  margin-right: 5px;
  margin-left: 5px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.topic__approach_tile .dropdown_button_container {
  background-color: var(--color-site-button-background);
  // border: solid 1px var(--color-site-button-border);
}

.topic__approach_tile .dropdown_button_container:hover {
  background-color: var(--color-site-button-hover-background);
  // border: solid 1px var(--color-site-button-border);
}

.topic__approach_tile .dropdown_button_selected {
  border: 0;
  background-color: var(--color-site-button-highlight-background);
}

.topic__approach_tile .dropdown_button_selected:hover {
  background-color: var(--color-site-button-highlight-background);
}

@media screen and (min-width: $tablet) {
  .topic__approach_container {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    padding-bottom: 0.7em;
  }
}
