:root {
  // --topic__popup_font_size: var(--topic__diagram-font-size);
  --topic__popup_font_size: calc(var(--topic__qr_width) / 35 * 1.2);
}

.topic__popup_box {
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  // transform: translate(-50%, -100%);
  // background-color: rgba(255, 255, 255, 0.95);
  background-color: color('diagram', 'background', 'darker');
  color: color('diagram', 'disabled', 'darker');
  opacity: 0.965;
  border-radius: calc(var(--topic__popup_font_size) * 0.4);
  // width: max-content;
  // max-width: calc(var(--pres__content_width) * 0.8);
}

@media (min-aspect-ratio: 3/2) {
  .topic__popup_box {
    // max-width: calc(var(--pres__content_width) * 0.5);
  }
}

.topic__popup_box ul {
  margin: 0;
  padding-left: calc(var(--topic__popup_font_size) * 0.5);
}

.topic__popup_box__close_container {
  display: table;
  float: right;
  margin-right: calc(var(--topic__popup_font_size) * 0.5);
}

.topic__popup_box__close {
  display: table-cell;
  vertical-align: middle;
  padding: 0;
  // margin-top: calc(var(--topic__popup_font_size) * -0.1);
  font-size: calc(var(--topic__popup_font_size) * 0.9);
  // width: auto;
  // float: right;
  font-weight: lighter;
  width: calc(var(--topic__popup_font_size) * 1.4);
  height: calc(var(--topic__popup_font_size) * 1.4);
  border-radius: calc(var(--topic__popup_font_size) * 0.7);
}

.topic__popup_box__close:hover {
  // color: color('diagram', 'disabled', 'base');
  background-color: color('diagram', 'qr-background', 'light');
  font-weight: light;
  cursor: pointer;
}

.topic__popup_box__title {
  color: color('diagram', 'qr-corners', 'base');
  font-size: calc(var(--topic__popup_font_size) * 0.6);
  text-align: center;
  padding-top: calc(var(--topic__popup_font_size) * 0.5);
  padding-bottom: calc(var(--topic__popup_font_size) * 0.2);
  width: 100%;
  margin-bottom: calc(var(--topic__popup_font_size) * 0.4);
}

.topic__popup_box__title_text_container {
  display: table;
  // margin-top: calc(var(--topic__popup_font_size) * 0.2);
  margin-left: auto;
  margin-right: auto;
}

.topic__popup_box__title_text {
  // display: inline-block;
  display: table-cell;
  vertical-align: middle;
  width: auto;
  color: color('diagram', 'qr-corners', 'light');
  height: calc(var(--topic__popup_font_size) * 0.8);
  // margin-top: calc(var(--topic__popup_font_size) * 0.2);
}

.topic__popup_box__title_i_container {
  display: table;
  float: left;
  margin-left: calc(var(--topic__popup_font_size) * 0.5);
}

.topic__popup_box__title_i {
  // display: inline-block;
  // float: left;
  // margin-left: calc(var(--topic__popup_font_size) * 0.5);
  display: table-cell;
  vertical-align: middle;
  font-size: calc(var(--topic__popup_font_size) * 0.8);
  width: calc(var(--topic__popup_font_size) * 1.4);
  height: calc(var(--topic__popup_font_size) * 1.4);
  border: 1px solid;
  border-radius: calc(var(--topic__popup_font_size) * 0.7);
  font-family: times new roman, serif;
  font-style: italic;
}

.topic__popup_box__text {
  padding-left: calc(var(--topic__popup_font_size) * 1);
  padding-right: calc(var(--topic__popup_font_size) * 1);
  padding-bottom: calc(var(--topic__popup_font_size) * 0.2);
  padding-top: calc(var(--topic__popup_font_size) * 0.2);
  max-height: calc(var(--pres__content_height) * 0.4);
  overflow-y: scroll;
  color: color('diagram', 'qr-text');
  font-size: calc(var(--topic__popup_font_size) * 0.5);
}

.topic__popup_hide {
  left: -10000px;
  top: -10000px;
  font-size: 0;
  border: 0;
  height: 0;
  width: 0;
}

// :root {
//   --topic__popup_box__width: 8;
//   --topic__popup_box__height: 5;
// }

.topic__popup_box__diagram {
  margin-left: auto;
  margin-right: auto;
  width: calc(var(--topic__popup_font_size) * 1);
  height: calc(var(--topic__popup_font_size) * 1);
  // background-color: white;
}

.topic__popup_box__link {
  text-align: center;
  font-size: calc(var(--topic__popup_font_size) * 0.4);
  color: color('diagram', 'qr-text', 'dark');
  padding: calc(var(--topic__popup_font_size) * 0.4);
  position: absolute;
  bottom: 0;
  width: 100%;
}

.topic__popup_box__link a {
  color: color('diagram', 'qr-text', 'dark');
}

.topic__popup_box__link a:hover {
  color: color('diagram', 'qr-text');
  text-decoration: none;
}
