.approach__quiz__answer_container {
  // background-color: rgba(100, 100, 100, 0.7);
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  border-radius: 0.6em;
  text-align: center;
  max-width: 80vw;
}

.approach__quiz__answer_text {
  font-size: calc(var(--topic__diagram-font-size) * 0.8);
  color: var(--color-diagram-quiz-correct-text);
  margin-bottom: 0.6em;
}

.approach__quiz__answer_details_text {
  font-size: calc(var(--topic__diagram-font-size) * 0.5);
  color: var(--color-diagram-quiz-correct-text);
  margin-bottom: 0.6em;
  width: 20em;
}

.approach__quiz__next_steps {
  margin-top: 0.9em;
  // font-size: calc(var(--topic__diagram-font-size) * 0.6);
}

.approach__quiz__button {
  border-radius: calc(var(--topic__diagram-font-size) * 0.35);
  color: var(--color-diagram-quiz-button-text);
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--color-diagram-quiz-button-border);
  background-color: var(--color-diagram-quiz-button-background);
  padding: calc(var(--topic__diagram-font-size) * 0.2);
  padding-left: calc(var(--topic__diagram-font-size) * 0.5);
  padding-right: calc(var(--topic__diagram-font-size) * 0.5);
  font-size: calc(var(--topic__diagram-font-size) * 0.7);
}

.approach__quiz__button:hover {
  border: 1px solid var(--color-diagram-quiz-button-hover-border);
  background-color: var(--color-diagram-quiz-button-hover-background);
  color: var(--color-diagram-quiz-button-hover-text);
}

.approach__quiz__button_disabled {
  pointer-events: none;
  border: 1px solid var(--color-diagram-quiz-button-disabled-border);
  background-color: var(--color-diagram-quiz-button-disabled-background);
  color: var(--color-diagram-quiz-button-disabled-text);
}

.approach__quiz__button_disabled:hover {
  border: 1px solid var(--color-diagram-quiz-button-disabled-border);
  background-color: var(--color-diagram-quiz-button-disabled-background);
  color: var(--color-diagram-quiz-button-disabled-text);
}

.approach__quiz__answer_correct {
  background-color: var(--color-diagram-quiz-correct-background);
  opacity: 0.96;
}

.approach__quiz__answer_incorrect {
  background-color: var(--color-diagram-quiz-incorrect-background);
  opacity: 0.96;
}

.approach__quiz__answer_correct .approach__quiz__button {
  color: var(--color-diagram-quiz-correct-text);
  background-color: var(--color-diagram-quiz-correct-background);
  border: 1px solid var(--color-diagram-quiz-correct-border);
}

.approach__quiz__answer_incorrect .approach__quiz__button {
  color: var(--color-diagram-quiz-incorrect-text);
  background-color: var(--color-diagram-quiz-incorrect-background);
  border: 1px solid var(--color-diagram-quiz-incorrect-border);
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.approach__quiz__answer_correct .approach__quiz__button:hover {
  background-color: var(--color-diagram-quiz-correct-hover-background);
  color: var(--color-diagram-quiz-correct-hover-text);
  border: 1px solid var(--color-diagram-quiz-correct-hover-border);
}

.approach__quiz__answer_incorrect .approach__quiz__button:hover {
  background-color: var(--color-diagram-quiz-incorrect-hover-background);
  color: var(--color-diagram-quiz-incorrect-hover-text);
  border: 1px solid var(--color-diagram-quiz-incorrect-hover-border);
}

.approach__quiz__button_fixed_size {
  width: 12em;
  margin-left: auto;
  margin-right: auto;
}

// @media screen and (min-width: $tablet) {
//   .approach__quiz__button {
//     display: inline-block;
//   }

//   .approach__quiz__button_fixed_size {
//     width: auto;
//     margin-left: 0.6em;
//     margin-right: 0;
//   }

//   .approach__quiz__answer_container {
//     margin-bottom: 0.2em;
//   }
// }

.approach__quiz_input {
  // border: 0;
  // margin: 0.6em;
  padding: calc(var(--topic__diagram-font-size) * 0.5);
  border-radius: calc(var(--topic__diagram-font-size) * 0.2);
  color: var(--color-diagram-quiz-input-text);
  text-align: center;
  background-color: var(--color-diagram-quiz-input-background);
  border: 1px solid var(--color-diagram-quiz-input-border);
  font-size: calc(var(--topic__diagram-font-size) * 0.7);
  font-weight: 200;
  width: 4em;
}

.approach__quiz_input::placeholder {
  color: var(--color-diagram-quiz-input-placeholder);
  opacity: 1; /* Firefox */
}

.approach__quiz_input::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--color-diagram-quiz-input-placeholder);
}

.approach__quiz_input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--color-diagram-quiz-input-placeholder);
}

.approach__quiz_input:hover {
  background-color: var(--color-diagram-quiz-input-hover-background);
}

.approach__quiz_input_disabled {
  background-color: var(--color-diagram-quiz-input-disabled-background);
  border: 1px solid var(--color-diagram-quiz-input-disabled-border);
  color: var(--color-diagram-quiz-input-disabled-text);
}

.approach__quiz_input_disabled:hover {
  background-color: var(--color-diagram-quiz-input-disabled-background);
  border: 1px solid var(--color-diagram-quiz-input-disabled-border);
  color: var(--color-diagram-quiz-input-disabled-text);
}

// ******************************************************
// ******************************************************
// ******************************************************
// ******************************************************
// Multiple choice box
.approach__quiz_multiple_choice_box_table {
  font-size: calc(var(--topic__diagram-font-size) * 0.8);
}

.approach__quiz_multiple_choice_box_row {
  cursor: pointer;
  border: 1px solid var(--color-diagram-quiz-choice-border);
  background-color: var(--color-diagram-quiz-choice-background);
  color: var(--color-diagram-quiz-choice-text);
}

.approach__quiz_multiple_choice_box_row:hover {
  border: 1px solid var(--color-diagram-quiz-choice-hover-border);
  background-color: var(--color-diagram-quiz-choice-hover-background);
  color: var(--color-diagram-quiz-choice-hover-text);
}

.approach__quiz_multiple_choice_box_answer__disable .approach__quiz_multiple_choice_box_row {
  border: 1px solid var(--color-diagram-quiz-choice-disabled-border);
  background-color: var(--color-diagram-quiz-choice-disabled-background);
  color: var(--color-diagram-quiz-choice-disabled-text);
}

.approach__quiz_multiple_choice_box_answer__disable .approach__quiz_multiple_choice_box_row:hover {
  border: 1px solid var(--color-diagram-quiz-choice-disabled-border);
  background-color: var(--color-diagram-quiz-choice-disabled-background);
  color: var(--color-diagram-quiz-choice-disabled-text);
}

.approach__quiz_multiple_choice_box_col1 {
  padding: calc(var(--topic__diagram-font-size) * 0.1);
  padding-right: calc(var(--topic__diagram-font-size) * 0.4);
  padding-left: calc(var(--topic__diagram-font-size) * 1);
}

.approach__quiz_multiple_choice_box_col2 {
  padding-right: calc(var(--topic__diagram-font-size) * 1);
}

.approach__quiz_multiple_choice_box_circle {
  width: calc(var(--topic__diagram-font-size) * 0.5);
  height: calc(var(--topic__diagram-font-size) * 0.5);
  border-radius: calc(var(--topic__diagram-font-size) * 0.25);
  border: calc(var(--topic__diagram-font-size) * 0.08) solid;
}

.approach__quiz_multiple_choice_box_circle__selected {
  background-color: var(--color-diagram-quiz-choice-select-text);
  color: var(--color-diagram-quiz-choice-select-text);
}

.approach__quiz_multiple_choice_box_answer__selected {
  color: var(--color-diagram-quiz-choice-select-text);
  font-weight: bold;
}

.approach__quiz_multiple_choice_box_answer__disable .approach__quiz_multiple_choice_box_circle__selected {
  background-color: var(--color-diagram-quiz-choice-select-disabled-text);
  color: var(--color-diagram-quiz-choice-select-disabled-text);
}

.approach__quiz_multiple_choice_box_answer__disable .approach__quiz_multiple_choice_box_answer__selected {
  color: var(--color-diagram-quiz-choice-select-disabled-text);
}

.approach__quiz_multiple_choice_box_answer__disable {
  pointer-events: none;
}
