.approach__quiz__answer_container {
  // background-color: rgba(100, 100, 100, 0.7);
  padding-left: 1.2em;
  padding-right: 1.2em;
  padding-top: 0.6em;
  padding-bottom: 0.6em;
  border-radius: 0.6em;
  text-align: center;
  max-width: 80vw;
}

.approach__quiz__answer_text {
  font-size: calc(var(--topic__diagram-font-size) * 0.8);
  color: var(--color-diagram-quiz-correct-text);
  margin-bottom: 0.6em;
}

.approach__quiz__answer_details_text {
  font-size: calc(var(--topic__diagram-font-size) * 0.5);
  color: var(--color-diagram-quiz-correct-text);
  margin-bottom: 0.6em;
  width: 20em;
}

.approach__quiz__next_steps {
  margin-top: 0.9em;
  // font-size: calc(var(--topic__diagram-font-size) * 0.6);
}

.approach__quiz__button {
  border-radius: calc(var(--topic__diagram-font-size) * 0.35);
  color: var(--color-diagram-quiz-button-text);
  text-align: center;
  cursor: pointer;
  border: 1px solid var(--color-diagram-quiz-button-border);
  background-color: var(--color-diagram-quiz-button-background);
  padding: calc(var(--topic__diagram-font-size) * 0.2);
  padding-left: calc(var(--topic__diagram-font-size) * 0.5);
  padding-right: calc(var(--topic__diagram-font-size) * 0.5);
  font-size: calc(var(--topic__diagram-font-size) * 0.7);
}

.approach__quiz__button:hover {
  border: 1px solid var(--color-diagram-quiz-button-hover-border);
  background-color: var(--color-diagram-quiz-button-hover-background);
  color: var(--color-diagram-quiz-button-hover-text);
}

.approach__quiz__button_disabled {
  pointer-events: none;
  border: 1px solid var(--color-diagram-quiz-button-disabled-border);
  background-color: var(--color-diagram-quiz-button-disabled-background);
  color: var(--color-diagram-quiz-button-disabled-text);
}

.approach__quiz__button_disabled:hover {
  border: 1px solid var(--color-diagram-quiz-button-disabled-border);
  background-color: var(--color-diagram-quiz-button-disabled-background);
  color: var(--color-diagram-quiz-button-disabled-text);
}

.approach__quiz__answer_correct {
  background-color: rgba(0, 100, 0, 0.95);
}

.approach__quiz__answer_incorrect {
  background-color: rgba(100, 0, 0, 0.95);
}

.approach__quiz__answer_correct .approach__quiz__button {
  color: color('white', 'base');
  background-color: rgba(0, 100, 0, 1);
  border: 1px solid color('white', 'darker');
}

.approach__quiz__answer_incorrect .approach__quiz__button {
  color: color('white', 'base');
  background-color: rgba(100, 0, 0, 1);
  border: 1px solid color('black', 'lightest');
  margin-top: 0.8em;
  margin-bottom: 0.8em;
}

.approach__quiz__answer_correct .approach__quiz__button:hover {
  background-color: rgba(0, 140, 0, 1);
}

.approach__quiz__answer_incorrect .approach__quiz__button:hover {
  background-color: rgba(140, 0, 0, 1);
}

.approach__quiz__button_fixed_size {
  width: 12em;
  margin-left: auto;
  margin-right: auto;
}

// @media screen and (min-width: $tablet) {
//   .approach__quiz__button {
//     display: inline-block;
//   }

//   .approach__quiz__button_fixed_size {
//     width: auto;
//     margin-left: 0.6em;
//     margin-right: 0;
//   }

//   .approach__quiz__answer_container {
//     margin-bottom: 0.2em;
//   }
// }

.approach__quiz_input {
  border: 0;
  // margin: 0.6em;
  padding: calc(var(--topic__diagram-font-size) * 0.5);
  border-radius: calc(var(--topic__diagram-font-size) * 0.2);
  color: color('diagram', 'disabled', 'darker');
  text-align: center;
  background-color: color('white', 'base');
  font-size: calc(var(--topic__diagram-font-size) * 0.7);
  font-weight: 200;
  width: 4em;
}

.approach__quiz_input::placeholder {
  color: color('diagram', 'disabled', 'lighter');
  opacity: 1; /* Firefox */
}

.approach__quiz_input::-ms-input-placeholder { /* Microsoft Edge */
  color: color('diagram', 'disabled', 'lighter');
}

.approach__quiz_input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: color('diagram', 'disabled', 'lighter');
}

.approach__quiz_input:hover {
  background-color: color('white', 'base');
}

.approach__quiz_input_disabled {
  background-color: color('diagram', 'disabled', 'lighter');
}

.approach__quiz_input_disabled:hover {
  background-color: color('diagram', 'disabled', 'lighter');
}

// ******************************************************
// ******************************************************
// ******************************************************
// ******************************************************
// Multiple choice box
.approach__quiz_multiple_choice_box_table {
  font-size: calc(var(--topic__diagram-font-size) * 0.8);
  color: color('white', 'dark');
}

.approach__quiz_multiple_choice_box_answer__disable .approach__quiz_multiple_choice_box_table {
  color: color('black', 'dark');
}

.approach__quiz_multiple_choice_box_row {
  cursor: pointer;
}

.approach__quiz_multiple_choice_box_row:hover {
  background-color: color('diagram', 'background', 'darker');
}

.approach__quiz_multiple_choice_box_col1 {
  padding: calc(var(--topic__diagram-font-size) * 0.1);
  padding-right: calc(var(--topic__diagram-font-size) * 0.4);
  padding-left: calc(var(--topic__diagram-font-size) * 1);
}

.approach__quiz_multiple_choice_box_col2 {
  padding-right: calc(var(--topic__diagram-font-size) * 1);
}

.approach__quiz_multiple_choice_box_circle {
  width: calc(var(--topic__diagram-font-size) * 0.5);
  height: calc(var(--topic__diagram-font-size) * 0.5);
  border-radius: calc(var(--topic__diagram-font-size) * 0.25);
  border: calc(var(--topic__diagram-font-size) * 0.08) solid;
  // color: color('diagram', 'disabled', 'base');
}

// .approach__quiz_multiple_choice_box_answer {
//   color: color('diagram', 'disabled', 'base');
// }

// .approach__quiz_multiple_choice_box__selected {
// }

.approach__quiz_multiple_choice_box_circle__selected {
  background-color: color('diagram', 'primary', 'base');
  color: color('diagram', 'primary', 'base');
}

.approach__quiz_multiple_choice_box_answer__selected {
  color: color('diagram', 'primary', 'base');
  font-weight: bold;
}

.approach__quiz_multiple_choice_box_answer__disable .approach__quiz_multiple_choice_box_circle__selected {
  background-color: color('diagram', 'primary', 'darker');
  color: color('diagram', 'primary', 'darker');
}

.approach__quiz_multiple_choice_box_answer__disable .approach__quiz_multiple_choice_box_answer__selected {
  color: color('diagram', 'primary', 'darker');
}

.approach__quiz_multiple_choice_box_answer__disable {
  pointer-events: none;
  // color: color('diagram', 'disabled', 'darker');
}
