@import '../../../geometry';

$colors: (
  sides:             color('blue'),
  angles:            color('red'),
  area:              color('red'),
  grid:              color('grey', 'darker'),
  disabled:          color('grey', 'darker'),
);

body {
  @include color_vars($colors);
}

.diagram__text {
  z-index: 0;
}
