@import '../../../geometry';

$colors: (
  // lines:             map-get($geometry_colors, lines),
  // angles:            color('diagram', 'construction8'),
  lines:              color('blue'),
  angles:             color('green'),
  arc:                color('red'),
  marks:              color('grey', 'dark'),
  radianLines:        color('yellow'),
  // arrow:              color('red'),
);

body {
  @include color_vars($colors);
}

.diagram__text {
  z-index: 0;
}

.in_lesson__fraction_table {
  text-align: center;
  color: color('diagram', 'text-base');
  font-size: calc(var(--lesson__diagram-font-size) * 0.8);
  table-layout: fixed;
  width: calc(var(--lesson__diagram-font-size) * 8);
  margin-left: calc(var(--lesson__diagram-font-size) * 1);
  margin-top: calc(var(--lesson__diagram-font-size) * 3.5);
}
