@import '../../../geometry';

$colors: (
  sides:             color('blue', 'base'),
  highlight:         color('red'),
  grey:              color('grey', 'base'),
);

body {
  @include color_vars($colors);
}

// .diagram__text {
//   z-index: 0;
// }
