// Define a contrasts map, mapping the shade of color to a contrast
$_color_contrasts: (
  'highest': 'darkest',
  'higher': 'darker',
  'high': 'dark',
  'low': 'light',
  'lower': 'lighter',
  'lowest': 'lightest'
);

// Get a final palette with contrasts added
$_color_standard-light-theme-palette: add-contrasts-to-palette($_color-palette_standard, $_color_contrasts);

// We now have a palette that has colors defined as:
//  - lighter
//  - light
//  - base
//  - dark
//  - darker
//  - lower      (contrast to background)
//  - low        (contrast to background)
//  - high       (contrast to background)
//  - higher     (contrast to background)

// Define the theme colors
$_color_theme-standard-light: (
  'hue0':             (color: 'black',  shade: 'base'),
  'hue1':             (color: 'white',  shade: 'base'),
  'hue2':             (color: 'blue',   shade: 'base'),
  'hue3':             (color: 'red',    shade: 'base'),
  'hue4':             (color: 'green',  shade: 'base'),
  'hue5':             (color: 'yellow', shade: 'base'),
  'hue6':             (color: 'cyan',   shade: 'base'),
  'hue7':             (color: 'orange', shade: 'base'),
  'hue8':             (color: 'violet', shade: 'base'),
  'hue9':             (color: 'brown',  shade: 'base'),
  'hue10':            (color: 'grey',   shade: 'base'),
  'black':            (color: 'black',  shade: 'base'),
  'white':            (color: 'white',  shade: 'base'),
  'blue':             (color: 'blue',   shade: 'base'),
  'red':              (color: 'red',    shade: 'base'),
  'green':            (color: 'green',  shade: 'base'),
  'yellow':           (color: 'yellow', shade: 'base'),
  'cyan':             (color: 'cyan',   shade: 'base'),
  'orange':           (color: 'green',  shade: 'base'),
  'violet':           (color: 'violet', shade: 'base'),
  'brown':            (color: 'brown',  shade: 'base'),
  'grey':             (color: 'grey',   shade: 'base'),
  'diagram': (
    'background':     (color: 'white',  shade: 'base'),
    'primary':        (color: 'blue',   shade: 'base'),
    'warning':        (color: 'red',    shade: 'base'),
    'safe':           (color: 'green',  shade: 'base'),
    'passive':        (color: 'yellow', shade: 'base'),
    'construction1':  (color: 'yellow',  shade: 'base'),
    'construction2':  (color: 'orange',  shade: 'base'),
    'construction3':  (color: 'grey',    shade: 'base'),
    'construction4':  (color: 'violet',  shade: 'base'),
    'construction5':  (color: 'brown',   shade: 'base'),
    'construction6':  (color: 'blue',    shade: 'base'),
    'construction7':  (color: 'cyan',    shade: 'base'),
    'construction8':  (color: 'green',   shade: 'base'),
    'construction9':  (color: 'red',     shade: 'base'),
    'disabled':       (color: 'grey',   shade: 'base'),
    'disabledDark':   (color: 'grey',   shade: 'dark'),
    'disabledDarker': (color: 'grey',   shade: 'darker'),
    'disabledDarkest': (color: 'grey',   shade: 'darkest'),
    'push':           (color: 'red',    shade: 'base'),
    'action':         (color: 'cyan',   shade: 'base'),
    'text-base':      (color: 'grey',   shade: 'dark'),
    'text-warning':   (color: 'red',    shade: 'lighter'),
    'text-plot':      (color: 'blue',   shade: 'light'),
    'text-keyword':   (color: 'blue',   shade: 'light'),
    'text-keyword2':  (color: 'green',  shade: 'light'),
    'text-latin':     (color: 'blue',   shade: 'light'),
    'text-greek':     (color: 'orange', shade: 'light'),
    'text-english':   (color: 'blue',   shade: 'light'),
    'quizCheck':      (color: 'violet', shade: 'base'),
  ),
  'lesson': (
    'background':       (color: 'grey',   shade: 'lighter'),
    'text-title':       (color: 'blue',   shade: 'dark'),
    'title-background': (color: 'white',  shade: 'base'),
    'text':             (color: 'grey',   shade: 'darker'),
    'navigation':       (color: 'grey',   shade: 'base'),
    'button':           (color: 'grey',   shade: 'base'),
    'button-highlight': (color: 'grey',   shade: 'darker'),
  ),
  'site': (
    'primary':          (color: 'blue',   shade: 'base'),
    'secondary':        (color: 'blue',   shade: 'light'),
    'text':             (color: 'grey',   shade: 'darker'),
    'background':       (color: 'grey',   shade: 'darker'),
    'disabled':         (color: 'grey',   shade: 'base'),
    'safe':             (color: 'green',  shade: 'base'),
    'menus':            (color: 'grey',   shade: 'darker'),
  ),
  'navbar': (
    'text':             (color: 'grey',   shade: 'light'),
    'text-hover':       (color: 'grey',   shade: 'lighter'),
    'text-input':       (color: 'grey',   shade: 'lighter'),
    'background':       (color: 'grey',   shade: 'darker'),
  ),
  'palette': $_color_standard-light-theme-palette,
);
