.lesson__info_button {
  background-color: color('diagram', 'background');
  color: color('lesson', 'text');
  font-size: calc(var(--lesson__goto_button-font-size));
  width: calc(var(--lesson__goto_button-font-size) * 3);
  height: calc(var(--lesson__goto_button-font-size) * 3);
  position: absolute;
  left: calc(90% - var(--lesson__goto_button-font-size) * 1.5);
  top: calc(100% - (100% - var(--lesson__content-height)) / 2 - var(--lesson__goto_button-font-size) * 1.5);
  // border: calc(var(--lesson__goto_button-font-size) * 0.2) solid color('diagram', 'background', 'darker');
  border: 0;
  border-radius: calc(var(--lesson__goto_button-font-size) * 1.5);
  font-family: times new roman, serif;
  font-style: italic;
  padding: calc(var(--lesson__goto_button-font-size) * 0.25);
  // border-color: color('diagram', 'background', 'darker');
}

.lesson__info_button:hover {
  background-color: color('diagram', 'background', 'darker');
}

.lesson__info_button_show {
  background-color: color('diagram', 'background', 'darker');
}

.lesson__info_button_show:hover {
  background-color: color('diagram', 'background', 'dark');
}

// @media screen and (min-width: $small-tablet) {
//   .lesson__info_button {
//     border: calc(var(--lesson__goto_button-font-size) * 0.2) solid color('diagram', 'background', 'darker');
//   }
// }

@media (min-aspect-ratio: 3/2) {
  .lesson__info_button {
    left: calc(100% - var(--lesson__np_button-width) / 2 - calc(var(--lesson__goto_button-font-size) * 1.5));
    top: calc(82% - var(--lesson__goto_button-font-size) * 1.5);
  }
}

.lesson__info_box {
  z-index: 2;
  position: absolute;
  top: 96%;
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: rgba(255, 255, 255, 0.95);
  color: color('diagram', 'disabled', 'darker');
  border-radius: calc(var(--lesson__diagram-font-size) * 0.4);
  width: max-content;
  max-width: calc(var(--lesson__content-width) * 0.8);
}

.lesson__info_box ul {
  margin: 0;
  padding-left: calc(var(--lesson__diagram-font-size) * 0.5);
}

.lesson__info_box__close {
  // text-align: right;
  padding: 0;
  margin-right: calc(var(--lesson__diagram-font-size) * 0.8);
  // padding-top: calc(var(--lesson__diagram-font-size) * 0.1);
  margin-top: calc(var(--lesson__diagram-font-size) * -0.1);
  font-size: calc(var(--lesson__diagram-font-size) * 0.9);
  width: auto;
  float: right;
  font-weight: lighter;
}

.lesson__info_box__close:hover {
  color: color('diagram', 'disabled', 'darker');
  font-weight: light;
}

.lesson__info_box__title {
  color: color('diagram', 'disabled', 'base');
  font-size: calc(var(--lesson__diagram-font-size) * 0.6);
  text-align: center;
  padding-top: calc(var(--lesson__diagram-font-size) * 0.5);
  padding-bottom: calc(var(--lesson__diagram-font-size) * 0.5);
  width: 100%;
  // display: table;
  // border-bottom: 1px solid rgba(200, 200, 200, 1);
  // color: rgba(255, 255, 255, 1);
}

.lesson__info_box__title_text {
  display: inline-block;
  width: auto;
  height: calc(var(--lesson__diagram-font-size) * 0.8);
  margin-top: calc(var(--lesson__diagram-font-size) * 0.2);
}

.lesson__info_box__title_i {
  display: inline-block;
  float: left;
  margin-left: calc(var(--lesson__diagram-font-size) * 0.5);
  // margin-right: calc(var(--lesson__diagram-font-size) * 1);
  font-size: calc(var(--lesson__diagram-font-size) * 0.7);
  width: calc(var(--lesson__diagram-font-size) * 1.1);
  height: calc(var(--lesson__diagram-font-size) * 1.1);
  border: 1px solid;
  border-radius: calc(var(--lesson__diagram-font-size) * 0.55);
  font-family: times new roman, serif;
  font-style: italic;
}

.lesson__info_box__text {
  padding-left: calc(var(--lesson__diagram-font-size) * 1);
  padding-right: calc(var(--lesson__diagram-font-size) * 1);
  padding-bottom: calc(var(--lesson__diagram-font-size) * 0.5);
  max-height: calc(var(--lesson__content-height) * 0.4);
  overflow: scroll;
  font-size: calc(var(--lesson__diagram-font-size) * 0.7);
}

.lesson__info_hide {
  left: -10000px;
  top: -10000px;
  font-size: 0;
  border: 0;
  height: 0;
  width: 0;
}
