.lesson__info_star {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  z-index: 3;
}

.lesson__info_star_pulse {
  width: calc(var(--lesson__diagram-font-size) * 2);
  height: calc(var(--lesson__diagram-font-size) * 2);
  opacity: 0;
  -webkit-animation: spin spin 1.2s linear 1;
  -moz-animation: spin 1.2s linear 1;
  animation: spin 1.2s linear 1;
  -o-animation: spin 1.2s linear 1;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-o-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  0% { -webkit-opacity: 0; }
  50% { -webkit-opacity: 1; }

  100% {
    -webkit-opacity: 0;
    -webkit-transform: rotate(120deg);
  }
}

@keyframes spin {
  0% { opacity: 0.1; }
  20% { opacity: 1; }
  50% { opacity: 1; }

  100% {
    opacity: 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
