@import '../../geometry';

$colors: (
  lines:      map-get($geometry_colors, lines),
  corners:    map-get($geometry_colors, radius),
  moreSharp:  map-get($geometry_colors, moreSharp),
  lessSharp:  map-get($geometry_colors, lessSharp),
  anchor:     map-get($geometry_colors, anchor),
  radius:     map-get($geometry_colors, radius),
  reference:  map-get($geometry_colors, reference),
  background: map-get($geometry_colors, background),
  arrow:      map-get($geometry_colors, arrow),
  angle:      map-get($geometry_colors, angle),
  angleText:  map-get($geometry_colors, angleText),
  latin:      color('diagram', 'text-latin'),
  arc:        map-get($geometry_colors, arc),
  circle:     map-get($geometry_colors, circle),
  dimensions: map-get($geometry_colors, dimensions),
);

body {
  @include color_vars($colors);
}
