@import '../../../../../../css/color';

$colors: (
  areaFill:                    color('blue', 'darkest'),
  sides:                       color('blue'),
  rightAngle:                  color('red'),
  opposite:                    color('red'),
  perpendicular:               color('red'),
  angles:                      color('green'),
  description:                 color('grey', base),
  vertex:                      color('yellow', 'dark'),
);

body {
  @include color_vars($colors);
}
